<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>new_res/bjl_game_chip_0_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1417,706},{117,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,117}</string>
			</dict>
			<key>new_res/bjl_game_chip_0_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1403,248},{117,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,117}</string>
			</dict>
			<key>new_res/bjl_game_chip_0_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1464,543},{117,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,117}</string>
			</dict>
			<key>new_res/bjl_game_chip_1_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1520,248},{117,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,117}</string>
			</dict>
			<key>new_res/bjl_game_chip_2_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1534,660},{117,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,117}</string>
			</dict>
			<key>new_res/bjl_game_chip_3_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1581,528},{117,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,117}</string>
			</dict>
			<key>new_res/bjl_game_chip_4_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1615,365},{117,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,117}</string>
			</dict>
			<key>new_res/bjl_game_chip_5_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1637,248},{117,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,117}</string>
			</dict>
			<key>new_res/chip_1_unactive1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1684,0},{117,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,117}</string>
			</dict>
			<key>new_res/chip_10_unactive1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1684,117},{117,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,117}</string>
			</dict>
			<key>new_res/chip_100_unactive1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1613,777},{117,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,117}</string>
			</dict>
			<key>new_res/chip_1000_press1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1651,645},{117,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,117}</string>
			</dict>
			<key>new_res/chip_1000_unactive1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1613,894},{117,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,117}</string>
			</dict>
			<key>new_res/chip_50_unacitve1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1698,482},{117,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,117}</string>
			</dict>
			<key>new_res/chip_50_unactive.png</key>
			<dict>
				<key>frame</key>
				<string>{{1732,365},{117,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,117}</string>
			</dict>
			<key>new_res/chip_500_unactive1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1754,234},{117,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,117}</string>
			</dict>
			<key>new_res/tag_countdown_bet.png</key>
			<dict>
				<key>frame</key>
				<string>{{1089,333},{122,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,32}</string>
			</dict>
			<key>new_res/tag_countdown_rest.png</key>
			<dict>
				<key>frame</key>
				<string>{{776,523},{122,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,32}</string>
			</dict>
			<key>new_res/btn_apply.png</key>
			<dict>
				<key>frame</key>
				<string>{{613,658},{159,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,71}</string>
			</dict>
			<key>new_res/btn_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{1078,455},{118,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{118,39}</string>
			</dict>
			<key>new_res/btn_banker_apply.png</key>
			<dict>
				<key>frame</key>
				<string>{{627,936},{216,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{216,85}</string>
			</dict>
			<key>new_res/btn_banker_cancle.png</key>
			<dict>
				<key>frame</key>
				<string>{{993,397},{216,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{216,85}</string>
			</dict>
			<key>new_res/btn_cancle.png</key>
			<dict>
				<key>frame</key>
				<string>{{776,645},{172,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{172,92}</string>
			</dict>
			<key>new_res/btn_change.png</key>
			<dict>
				<key>frame</key>
				<string>{{1078,573},{118,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,39}</string>
			</dict>
			<key>new_res/btn_chart.png</key>
			<dict>
				<key>frame</key>
				<string>{{1519,365},{98,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{98,96}</string>
			</dict>
			<key>new_res/btn_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{1289,478},{82,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,83}</string>
			</dict>
			<key>new_res/btn_more.png</key>
			<dict>
				<key>frame</key>
				<string>{{1403,365},{116,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,113}</string>
			</dict>
			<key>new_res/btn_people.png</key>
			<dict>
				<key>frame</key>
				<string>{{1730,879},{93,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,95}</string>
			</dict>
			<key>new_res/btn_setting.png</key>
			<dict>
				<key>frame</key>
				<string>{{1196,570},{118,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,39}</string>
			</dict>
			<key>new_res/btn_sure.png</key>
			<dict>
				<key>frame</key>
				<string>{{1117,478},{172,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{172,92}</string>
			</dict>
			<key>new_res/chip_1_press.png</key>
			<dict>
				<key>frame</key>
				<string>{{1801,0},{117,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,117}</string>
			</dict>
			<key>new_res/chip_1_unactive.png</key>
			<dict>
				<key>frame</key>
				<string>{{1801,117},{117,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,117}</string>
			</dict>
			<key>new_res/chip_10_press.png</key>
			<dict>
				<key>frame</key>
				<string>{{1730,762},{117,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,117}</string>
			</dict>
			<key>new_res/chip_100.png</key>
			<dict>
				<key>frame</key>
				<string>{{1768,599},{117,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,117}</string>
			</dict>
			<key>new_res/chip_100_press.png</key>
			<dict>
				<key>frame</key>
				<string>{{1815,482},{117,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,117}</string>
			</dict>
			<key>new_res/chip_50.png</key>
			<dict>
				<key>frame</key>
				<string>{{1849,351},{117,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,117}</string>
			</dict>
			<key>new_res/chip_50_press.png</key>
			<dict>
				<key>frame</key>
				<string>{{1871,234},{117,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,117}</string>
			</dict>
			<key>new_res/chip_500.png</key>
			<dict>
				<key>frame</key>
				<string>{{1918,0},{117,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,117}</string>
			</dict>
			<key>new_res/chip_500_press.png</key>
			<dict>
				<key>frame</key>
				<string>{{1918,117},{117,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,117}</string>
			</dict>
			<key>new_res/chip_small_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1371,478},{61,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,65}</string>
			</dict>
			<key>new_res/chip_small_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1432,478},{61,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,65}</string>
			</dict>
			<key>new_res/chip_small_100.png</key>
			<dict>
				<key>frame</key>
				<string>{{1493,478},{61,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,65}</string>
			</dict>
			<key>new_res/chip_small_50.png</key>
			<dict>
				<key>frame</key>
				<string>{{1554,463},{61,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,65}</string>
			</dict>
			<key>new_res/chip_small_500.png</key>
			<dict>
				<key>frame</key>
				<string>{{1534,777},{61,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,65}</string>
			</dict>
			<key>new_res/icon_money.png</key>
			<dict>
				<key>frame</key>
				<string>{{843,936},{43,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{43,44}</string>
			</dict>
			<key>new_res/tag_ball_banker.png</key>
			<dict>
				<key>frame</key>
				<string>{{843,979},{27,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,27}</string>
			</dict>
			<key>new_res/tag_ball_player.png</key>
			<dict>
				<key>frame</key>
				<string>{{808,613},{27,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,27}</string>
			</dict>
			<key>new_res/tag_ball_tie.png</key>
			<dict>
				<key>frame</key>
				<string>{{835,613},{27,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,27}</string>
			</dict>
			<key>new_res/tag_bg_maximuim.png</key>
			<dict>
				<key>frame</key>
				<string>{{1410,862},{203,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{203,102}</string>
			</dict>
			<key>new_res/tag_box_chip.png</key>
			<dict>
				<key>frame</key>
				<string>{{993,0},{397,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{397,96}</string>
			</dict>
			<key>new_res/tag_box_poker.png</key>
			<dict>
				<key>frame</key>
				<string>{{1332,561},{145,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{145,132}</string>
			</dict>
			<key>new_res/tag_circle_blue.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,1009},{12,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{12,12}</string>
			</dict>
			<key>new_res/tag_circle_green.png</key>
			<dict>
				<key>frame</key>
				<string>{{351,1009},{12,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{12,12}</string>
			</dict>
			<key>new_res/tag_circle_red.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,1009},{12,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{12,12}</string>
			</dict>
			<key>new_res/tag_countdown_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,948},{288,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{288,61}</string>
			</dict>
			<key>new_res/tag_countdown_bg_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{607,875},{288,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{288,61}</string>
			</dict>
			<key>new_res/tag_countdown_num.png</key>
			<dict>
				<key>frame</key>
				<string>{{1089,0},{210,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,31}</string>
			</dict>
			<key>new_res/tag_countdown_txt.png</key>
			<dict>
				<key>frame</key>
				<string>{{1089,210},{123,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{123,34}</string>
			</dict>
			<key>new_res/tag_dialog.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{405,528}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{405,528}</string>
			</dict>
			<key>new_res/tag_final_banker.png</key>
			<dict>
				<key>frame</key>
				<string>{{1127,0},{478,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{478,92}</string>
			</dict>
			<key>new_res/tag_final_banker_pair.png</key>
			<dict>
				<key>frame</key>
				<string>{{1219,0},{478,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{478,92}</string>
			</dict>
			<key>new_res/tag_final_player.png</key>
			<dict>
				<key>frame</key>
				<string>{{1311,0},{478,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{478,92}</string>
			</dict>
			<key>new_res/tag_final_player_pair.png</key>
			<dict>
				<key>frame</key>
				<string>{{809,0},{478,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{478,92}</string>
			</dict>
			<key>new_res/tag_final_tie.png</key>
			<dict>
				<key>frame</key>
				<string>{{901,0},{478,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{478,92}</string>
			</dict>
			<key>new_res/tag_line.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,948},{339,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{339,69}</string>
			</dict>
			<key>new_res/tag_profile.png</key>
			<dict>
				<key>frame</key>
				<string>{{1410,964},{60,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,58}</string>
			</dict>
			<key>new_res/tag_profile_my.png</key>
			<dict>
				<key>frame</key>
				<string>{{948,613},{192,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{192,112}</string>
			</dict>
			<key>new_res/tag_profile_my_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{1140,612},{192,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{192,112}</string>
			</dict>
			<key>new_res/tag_profile_user.png</key>
			<dict>
				<key>frame</key>
				<string>{{809,478},{135,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{135,163}</string>
			</dict>
			<key>new_res/tag_profile_user_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{613,523},{135,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{135,163}</string>
			</dict>
			<key>new_res/tag_setting.png</key>
			<dict>
				<key>frame</key>
				<string>{{1410,0},{248,274}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{248,274}</string>
			</dict>
			<key>new_res/tag_title_apply.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,478},{202,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{202,45}</string>
			</dict>
			<key>new_res/tag_title_player.png</key>
			<dict>
				<key>frame</key>
				<string>{{607,478},{202,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{202,45}</string>
			</dict>
			<key>new_res/tag_win_banker.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,738},{607,210}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{607,210}</string>
			</dict>
			<key>new_res/tag_win_banker_pair.png</key>
			<dict>
				<key>frame</key>
				<string>{{607,738},{520,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{520,137}</string>
			</dict>
			<key>new_res/tag_win_player.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,528},{613,210}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{613,210}</string>
			</dict>
			<key>new_res/tag_win_player_pair.png</key>
			<dict>
				<key>frame</key>
				<string>{{895,875},{515,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{515,137}</string>
			</dict>
			<key>new_res/tag_win_tie.png</key>
			<dict>
				<key>frame</key>
				<string>{{1127,725},{290,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{290,137}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>bjl.png</string>
			<key>realTextureFileName</key>
			<string>bjl.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>