<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>new_res/new_res_bjl_game_chip_0_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1137,676},{117,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,117}</string>
			</dict>
			<key>new_res/new_res_bjl_game_chip_0_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1265,403},{117,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,117}</string>
			</dict>
			<key>new_res/new_res_bjl_game_chip_0_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1248,797},{117,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,117}</string>
			</dict>
			<key>new_res/new_res_bjl_game_chip_1_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1258,667},{117,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,117}</string>
			</dict>
			<key>new_res/new_res_bjl_game_chip_2_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1369,788},{117,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,117}</string>
			</dict>
			<key>new_res/new_res_bjl_game_chip_3_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1268,524},{117,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,117}</string>
			</dict>
			<key>new_res/new_res_bjl_game_chip_4_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1379,645},{117,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,117}</string>
			</dict>
			<key>new_res/new_res_bjl_game_chip_5_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1490,766},{117,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,117}</string>
			</dict>
			<key>new_res/new_res_btn_apply.png</key>
			<dict>
				<key>frame</key>
				<string>{{1233,64},{159,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{159,71}</string>
			</dict>
			<key>new_res/new_res_btn_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{628,962},{118,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,39}</string>
			</dict>
			<key>new_res/new_res_btn_banker_apply.png</key>
			<dict>
				<key>frame</key>
				<string>{{815,498},{216,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{216,85}</string>
			</dict>
			<key>new_res/new_res_btn_banker_cancle.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,587},{216,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{216,85}</string>
			</dict>
			<key>new_res/new_res_btn_cancle.png</key>
			<dict>
				<key>frame</key>
				<string>{{1089,484},{172,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{172,92}</string>
			</dict>
			<key>new_res/new_res_btn_change.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,962},{118,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,39}</string>
			</dict>
			<key>new_res/new_res_btn_chart.png</key>
			<dict>
				<key>frame</key>
				<string>{{1312,918},{98,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{98,96}</string>
			</dict>
			<key>new_res/new_res_btn_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{1182,580},{82,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,83}</string>
			</dict>
			<key>new_res/new_res_btn_more.png</key>
			<dict>
				<key>frame</key>
				<string>{{1412,909},{116,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,113}</string>
			</dict>
			<key>new_res/new_res_btn_people.png</key>
			<dict>
				<key>frame</key>
				<string>{{1863,605},{93,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,95}</string>
			</dict>
			<key>new_res/new_res_btn_setting.png</key>
			<dict>
				<key>frame</key>
				<string>{{872,962},{118,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,39}</string>
			</dict>
			<key>new_res/new_res_btn_sure.png</key>
			<dict>
				<key>frame</key>
				<string>{{1233,227},{172,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{172,92}</string>
			</dict>
			<key>new_res/new_res_chip_10_press.png</key>
			<dict>
				<key>frame</key>
				<string>{{1532,887},{117,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,117}</string>
			</dict>
			<key>new_res/new_res_chip_10_unactive1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1389,484},{117,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,117}</string>
			</dict>
			<key>new_res/new_res_chip_100.png</key>
			<dict>
				<key>frame</key>
				<string>{{1500,605},{117,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,117}</string>
			</dict>
			<key>new_res/new_res_chip_100_press.png</key>
			<dict>
				<key>frame</key>
				<string>{{1510,484},{117,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,117}</string>
			</dict>
			<key>new_res/new_res_chip_100_unactive1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1611,726},{117,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,117}</string>
			</dict>
			<key>new_res/new_res_chip_1000_press1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1621,605},{117,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,117}</string>
			</dict>
			<key>new_res/new_res_chip_1000_unactive1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1631,484},{117,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,117}</string>
			</dict>
			<key>new_res/new_res_chip_50.png</key>
			<dict>
				<key>frame</key>
				<string>{{1653,847},{117,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,117}</string>
			</dict>
			<key>new_res/new_res_chip_50_press.png</key>
			<dict>
				<key>frame</key>
				<string>{{1732,726},{117,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,117}</string>
			</dict>
			<key>new_res/new_res_chip_50_unacitve1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1742,605},{117,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,117}</string>
			</dict>
			<key>new_res/new_res_chip_500.png</key>
			<dict>
				<key>frame</key>
				<string>{{1752,484},{117,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,117}</string>
			</dict>
			<key>new_res/new_res_chip_500_press.png</key>
			<dict>
				<key>frame</key>
				<string>{{1774,847},{117,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,117}</string>
			</dict>
			<key>new_res/new_res_chip_500_unactive1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1853,726},{117,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,117}</string>
			</dict>
			<key>new_res/new_res_chip_small_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1247,954},{61,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,65}</string>
			</dict>
			<key>new_res/new_res_chip_small_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1064,141},{61,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{61,65}</string>
			</dict>
			<key>new_res/new_res_icon_money.png</key>
			<dict>
				<key>frame</key>
				<string>{{411,484},{43,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{43,44}</string>
			</dict>
			<key>new_res/new_res_tag_ball_banker.png</key>
			<dict>
				<key>frame</key>
				<string>{{994,992},{27,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,27}</string>
			</dict>
			<key>new_res/new_res_tag_ball_player.png</key>
			<dict>
				<key>frame</key>
				<string>{{1025,992},{27,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,27}</string>
			</dict>
			<key>new_res/new_res_tag_ball_tie.png</key>
			<dict>
				<key>frame</key>
				<string>{{1056,992},{27,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,27}</string>
			</dict>
			<key>new_res/new_res_tag_bg_maximuim.png</key>
			<dict>
				<key>frame</key>
				<string>{{619,588},{203,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{203,102}</string>
			</dict>
			<key>new_res/new_res_tag_box_chip.png</key>
			<dict>
				<key>frame</key>
				<string>{{663,143},{397,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{397,96}</string>
			</dict>
			<key>new_res/new_res_tag_box_poker.png</key>
			<dict>
				<key>frame</key>
				<string>{{826,587},{145,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{145,132}</string>
			</dict>
			<key>new_res/new_res_tag_circle_blue.png</key>
			<dict>
				<key>frame</key>
				<string>{{414,997},{12,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{12,12}</string>
			</dict>
			<key>new_res/new_res_tag_circle_green.png</key>
			<dict>
				<key>frame</key>
				<string>{{430,997},{12,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{12,12}</string>
			</dict>
			<key>new_res/new_res_tag_circle_red.png</key>
			<dict>
				<key>frame</key>
				<string>{{446,997},{12,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{12,12}</string>
			</dict>
			<key>new_res/new_res_tag_countdown_bet.png</key>
			<dict>
				<key>frame</key>
				<string>{{1121,954},{122,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,32}</string>
			</dict>
			<key>new_res/new_res_tag_countdown_bg_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{956,889},{288,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{288,61}</string>
			</dict>
			<key>new_res/new_res_tag_countdown_num.png</key>
			<dict>
				<key>frame</key>
				<string>{{414,962},{210,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,31}</string>
			</dict>
			<key>new_res/new_res_tag_countdown_rest.png</key>
			<dict>
				<key>frame</key>
				<string>{{1121,990},{122,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,32}</string>
			</dict>
			<key>new_res/new_res_tag_countdown_txt.png</key>
			<dict>
				<key>frame</key>
				<string>{{994,954},{123,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{123,34}</string>
			</dict>
			<key>new_res/new_res_tag_dialog.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{405,528}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{405,528}</string>
			</dict>
			<key>new_res/new_res_tag_final_banker.png</key>
			<dict>
				<key>frame</key>
				<string>{{1137,2},{478,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{478,92}</string>
			</dict>
			<key>new_res/new_res_tag_final_banker_pair.png</key>
			<dict>
				<key>frame</key>
				<string>{{1831,2},{478,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{478,92}</string>
			</dict>
			<key>new_res/new_res_tag_final_player.png</key>
			<dict>
				<key>frame</key>
				<string>{{1927,2},{478,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{478,92}</string>
			</dict>
			<key>new_res/new_res_tag_final_player_pair.png</key>
			<dict>
				<key>frame</key>
				<string>{{411,280},{478,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{478,92}</string>
			</dict>
			<key>new_res/new_res_tag_final_tie.png</key>
			<dict>
				<key>frame</key>
				<string>{{411,376},{478,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{478,92}</string>
			</dict>
			<key>new_res/new_res_tag_line.png</key>
			<dict>
				<key>frame</key>
				<string>{{613,889},{339,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{339,69}</string>
			</dict>
			<key>new_res/new_res_tag_profile.png</key>
			<dict>
				<key>frame</key>
				<string>{{1248,2},{60,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,58}</string>
			</dict>
			<key>new_res/new_res_tag_profile_my.png</key>
			<dict>
				<key>frame</key>
				<string>{{893,382},{192,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{192,112}</string>
			</dict>
			<key>new_res/new_res_tag_profile_my_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{619,472},{192,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{192,112}</string>
			</dict>
			<key>new_res/new_res_tag_profile_user.png</key>
			<dict>
				<key>frame</key>
				<string>{{957,2},{135,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{135,163}</string>
			</dict>
			<key>new_res/new_res_tag_profile_user_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{893,243},{135,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{135,163}</string>
			</dict>
			<key>new_res/new_res_tag_setting.png</key>
			<dict>
				<key>frame</key>
				<string>{{411,2},{248,274}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{248,274}</string>
			</dict>
			<key>new_res/new_res_tag_title_apply.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,962},{202,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{202,45}</string>
			</dict>
			<key>new_res/new_res_tag_title_player.png</key>
			<dict>
				<key>frame</key>
				<string>{{208,962},{202,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{202,45}</string>
			</dict>
			<key>new_res/new_res_tag_win_banker.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,748},{607,210}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{607,210}</string>
			</dict>
			<key>new_res/new_res_tag_win_banker_pair.png</key>
			<dict>
				<key>frame</key>
				<string>{{613,748},{520,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{520,137}</string>
			</dict>
			<key>new_res/new_res_tag_win_player.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,534},{613,210}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{613,210}</string>
			</dict>
			<key>new_res/new_res_tag_win_player_pair.png</key>
			<dict>
				<key>frame</key>
				<string>{{1312,2},{515,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{515,137}</string>
			</dict>
			<key>new_res/new_res_tag_win_tie.png</key>
			<dict>
				<key>frame</key>
				<string>{{663,2},{290,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{290,137}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>bjl.png</string>
			<key>realTextureFileName</key>
			<string>bjl.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>