<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>font_big/card_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,254},{83,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{83,119}</string>
			</dict>
			<key>font_big/card_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,377},{83,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{83,119}</string>
			</dict>
			<key>font_big/card_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,500},{83,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{83,119}</string>
			</dict>
			<key>font_big/font_0_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{251,939},{56,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,84}</string>
			</dict>
			<key>font_big/font_0_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,339},{56,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,84}</string>
			</dict>
			<key>font_big/font_0_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,223},{56,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,84}</string>
			</dict>
			<key>font_big/font_0_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{174,138},{56,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,84}</string>
			</dict>
			<key>font_big/font_0_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{263,2},{56,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,84}</string>
			</dict>
			<key>font_big/font_0_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,427},{56,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,84}</string>
			</dict>
			<key>font_big/font_0_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,515},{56,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,84}</string>
			</dict>
			<key>font_big/font_0_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{78,623},{62,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,93}</string>
			</dict>
			<key>font_big/font_0_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{215,575},{56,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,84}</string>
			</dict>
			<key>font_big/font_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{292,714},{57,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,81}</string>
			</dict>
			<key>font_big/font_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{292,799},{57,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,81}</string>
			</dict>
			<key>font_big/font_1_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,935},{57,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,81}</string>
			</dict>
			<key>font_big/font_1_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,311},{57,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,81}</string>
			</dict>
			<key>font_big/font_1_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{221,198},{57,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,81}</string>
			</dict>
			<key>font_big/font_1_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{265,62},{57,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,81}</string>
			</dict>
			<key>font_big/font_1_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,396},{57,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,81}</string>
			</dict>
			<key>font_big/font_1_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{248,481},{57,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,81}</string>
			</dict>
			<key>font_big/font_1_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{275,566},{57,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,81}</string>
			</dict>
			<key>font_big/font_2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{89,339},{67,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,81}</string>
			</dict>
			<key>font_big/font_2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{89,424},{67,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,81}</string>
			</dict>
			<key>font_big/font_2_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{89,509},{67,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,81}</string>
			</dict>
			<key>font_big/font_2_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{144,594},{67,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,81}</string>
			</dict>
			<key>font_big/font_2_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,718},{67,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,81}</string>
			</dict>
			<key>font_big/font_2_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,803},{67,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,81}</string>
			</dict>
			<key>font_big/font_2_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,939},{67,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,81}</string>
			</dict>
			<key>font_big/font_2_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{221,718},{67,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,81}</string>
			</dict>
			<key>font_big/font_2_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{221,803},{67,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,81}</string>
			</dict>
			<key>font_big/font_3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{78,720},{68,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,81}</string>
			</dict>
			<key>font_big/font_3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{78,805},{68,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,81}</string>
			</dict>
			<key>font_big/font_3_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{108,941},{68,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,81}</string>
			</dict>
			<key>font_big/font_3_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{89,254},{68,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,81}</string>
			</dict>
			<key>font_big/font_3_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{102,138},{68,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,81}</string>
			</dict>
			<key>font_big/font_3_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{119,2},{68,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,81}</string>
			</dict>
			<key>font_big/font_3_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{191,2},{68,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,81}</string>
			</dict>
			<key>font_big/shade_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{113,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,132}</string>
			</dict>
			<key>font_middle/card_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,623},{72,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,102}</string>
			</dict>
			<key>font_middle/card_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,729},{72,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,102}</string>
			</dict>
			<key>font_middle/card_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,835},{72,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,102}</string>
			</dict>
			<key>font_middle/font_0_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{78,890},{47,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{47,69}</string>
			</dict>
			<key>font_middle/font_0_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{119,87},{47,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{47,69}</string>
			</dict>
			<key>font_middle/font_0_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,888},{47,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{47,69}</string>
			</dict>
			<key>font_middle/font_0_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{224,888},{47,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{47,69}</string>
			</dict>
			<key>font_middle/font_0_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{192,87},{47,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{47,69}</string>
			</dict>
			<key>font_middle/font_0_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{258,663},{47,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{47,69}</string>
			</dict>
			<key>font_middle/font_0_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{297,884},{47,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{47,69}</string>
			</dict>
			<key>font_middle/font_0_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,426},{47,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{47,69}</string>
			</dict>
			<key>font_middle/font_0_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{341,341},{47,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,69}</string>
			</dict>
			<key>font_middle/font_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,193},{47,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,66}</string>
			</dict>
			<key>font_middle/font_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{369,465},{47,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,66}</string>
			</dict>
			<key>font_middle/font_1_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{396,535},{47,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,66}</string>
			</dict>
			<key>font_middle/font_1_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,649},{47,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{47,66}</string>
			</dict>
			<key>font_middle/font_1_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{420,465},{47,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,66}</string>
			</dict>
			<key>font_middle/font_1_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{425,412},{47,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{47,66}</string>
			</dict>
			<key>font_middle/font_1_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{443,336},{47,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,66}</string>
			</dict>
			<key>font_middle/font_1_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{452,263},{47,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,66}</string>
			</dict>
			<key>font_middle/font_1_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,193},{47,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,66}</string>
			</dict>
			<key>font_middle/font_2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{334,123},{56,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,67}</string>
			</dict>
			<key>font_middle/font_2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{350,62},{56,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,67}</string>
			</dict>
			<key>font_middle/font_2_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{351,2},{56,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,67}</string>
			</dict>
			<key>font_middle/font_2_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,355},{56,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,67}</string>
			</dict>
			<key>font_middle/font_2_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{309,477},{56,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,67}</string>
			</dict>
			<key>font_middle/font_2_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{336,548},{56,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,67}</string>
			</dict>
			<key>font_middle/font_2_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{341,270},{56,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,67}</string>
			</dict>
			<key>font_middle/font_2_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{342,194},{56,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,67}</string>
			</dict>
			<key>font_middle/font_2_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{394,122},{56,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,67}</string>
			</dict>
			<key>font_middle/font_3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{262,138},{56,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,68}</string>
			</dict>
			<key>font_middle/font_3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{353,713},{56,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,68}</string>
			</dict>
			<key>font_middle/font_3_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{353,785},{56,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,68}</string>
			</dict>
			<key>font_middle/font_3_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{370,857},{56,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,68}</string>
			</dict>
			<key>font_middle/font_3_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{400,929},{56,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,68}</string>
			</dict>
			<key>font_middle/font_3_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,283},{56,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,68}</string>
			</dict>
			<key>font_middle/font_3_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,198},{56,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,68}</string>
			</dict>
			<key>font_middle/shade_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,138},{96,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,112}</string>
			</dict>
			<key>font_small/card_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{354,414},{47,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{47,67}</string>
			</dict>
			<key>font_small/card_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{392,341},{47,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,67}</string>
			</dict>
			<key>font_small/card_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,941},{72,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,102}</string>
			</dict>
			<key>font_small/card_up1.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,265},{47,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,67}</string>
			</dict>
			<key>font_small/font_0_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{542,366},{32,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,50}</string>
			</dict>
			<key>font_small/font_0_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{561,218},{32,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,50}</string>
			</dict>
			<key>font_small/font_0_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{580,309},{32,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,50}</string>
			</dict>
			<key>font_small/font_0_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{585,254},{32,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,50}</string>
			</dict>
			<key>font_small/font_0_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{582,149},{32,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,50}</string>
			</dict>
			<key>font_small/font_0_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{615,203},{32,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,50}</string>
			</dict>
			<key>font_small/font_0_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{618,149},{32,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,50}</string>
			</dict>
			<key>font_small/font_0_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{624,92},{32,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,50}</string>
			</dict>
			<key>font_small/font_0_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{654,146},{32,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,50}</string>
			</dict>
			<key>font_small/font_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{494,690},{34,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,48}</string>
			</dict>
			<key>font_small/font_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{494,742},{34,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,48}</string>
			</dict>
			<key>font_small/font_1_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{490,514},{34,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,48}</string>
			</dict>
			<key>font_small/font_1_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{514,453},{34,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,48}</string>
			</dict>
			<key>font_small/font_1_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{538,402},{34,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{34,48}</string>
			</dict>
			<key>font_small/font_1_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{490,566},{34,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,48}</string>
			</dict>
			<key>font_small/font_1_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{510,618},{34,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,48}</string>
			</dict>
			<key>font_small/font_1_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{542,314},{34,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,48}</string>
			</dict>
			<key>font_small/font_1_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{547,257},{34,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,48}</string>
			</dict>
			<key>font_small/font_2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{581,98},{39,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,47}</string>
			</dict>
			<key>font_small/font_2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{619,41},{39,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,47}</string>
			</dict>
			<key>font_small/font_2_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{447,535},{39,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,47}</string>
			</dict>
			<key>font_small/font_2_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{447,586},{39,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,47}</string>
			</dict>
			<key>font_small/font_2_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{471,463},{39,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,47}</string>
			</dict>
			<key>font_small/font_2_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{495,402},{39,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,47}</string>
			</dict>
			<key>font_small/font_2_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{413,700},{39,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,47}</string>
			</dict>
			<key>font_small/font_2_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{413,751},{39,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,47}</string>
			</dict>
			<key>font_small/font_2_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{413,802},{39,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,47}</string>
			</dict>
			<key>font_small/font_3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{396,605},{40,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{40,47}</string>
			</dict>
			<key>font_small/font_3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{503,263},{40,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,47}</string>
			</dict>
			<key>font_small/font_3_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{454,119},{40,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,47}</string>
			</dict>
			<key>font_small/font_3_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{492,59},{40,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,47}</string>
			</dict>
			<key>font_small/font_3_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{493,2},{40,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,47}</string>
			</dict>
			<key>font_small/font_3_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{498,110},{40,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,47}</string>
			</dict>
			<key>font_small/font_3_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{536,53},{40,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,47}</string>
			</dict>
			<key>font_small/shade_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{331,651},{58,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,67}</string>
			</dict>
			<key>font_small_side/card_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{421,62},{67,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,53}</string>
			</dict>
			<key>font_small_side/card_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{422,2},{67,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,53}</string>
			</dict>
			<key>font_small_side/font_0_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{144,679},{53,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,35}</string>
			</dict>
			<key>font_small_side/font_0_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,679},{53,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,35}</string>
			</dict>
			<key>font_small_side/font_0_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{537,2},{53,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,35}</string>
			</dict>
			<key>font_small_side/font_0_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{504,161},{53,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{53,35}</string>
			</dict>
			<key>font_small_side/font_0_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{504,218},{53,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,35}</string>
			</dict>
			<key>font_small_side/font_0_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{542,104},{53,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{53,35}</string>
			</dict>
			<key>font_small_side/font_0_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{543,161},{53,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{53,35}</string>
			</dict>
			<key>font_small_side/font_0_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{580,41},{53,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{53,35}</string>
			</dict>
			<key>font_small_side/font_0_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{594,2},{53,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,35}</string>
			</dict>
			<key>font_small_side/font_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{651,2},{49,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,34}</string>
			</dict>
			<key>font_small_side/font_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{430,853},{49,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,34}</string>
			</dict>
			<key>font_small_side/font_1_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{460,906},{49,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,34}</string>
			</dict>
			<key>font_small_side/font_1_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{460,959},{49,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,34}</string>
			</dict>
			<key>font_small_side/font_1_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{456,700},{49,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,34}</string>
			</dict>
			<key>font_small_side/font_1_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{472,637},{49,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,34}</string>
			</dict>
			<key>font_small_side/font_1_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{456,753},{49,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,34}</string>
			</dict>
			<key>font_small_side/font_1_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{456,806},{49,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,34}</string>
			</dict>
			<key>font_small_side/font_1_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{468,844},{49,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,34}</string>
			</dict>
			<key>font_small_side/font_2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{509,794},{42,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,36}</string>
			</dict>
			<key>font_small_side/font_2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{498,944},{42,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,36}</string>
			</dict>
			<key>font_small_side/font_2_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{532,670},{42,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,36}</string>
			</dict>
			<key>font_small_side/font_2_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{548,599},{42,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,36}</string>
			</dict>
			<key>font_small_side/font_2_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{532,716},{42,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,36}</string>
			</dict>
			<key>font_small_side/font_2_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{568,487},{42,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,36}</string>
			</dict>
			<key>font_small_side/font_2_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{568,533},{42,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,36}</string>
			</dict>
			<key>font_small_side/font_2_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{592,402},{42,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,36}</string>
			</dict>
			<key>font_small_side/font_2_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{616,308},{42,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,36}</string>
			</dict>
			<key>font_small_side/font_3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,92},{43,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{43,36}</string>
			</dict>
			<key>font_small_side/font_3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{662,40},{43,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{43,36}</string>
			</dict>
			<key>font_small_side/font_3_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{528,505},{43,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{43,36}</string>
			</dict>
			<key>font_small_side/font_3_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{552,440},{43,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{43,36}</string>
			</dict>
			<key>font_small_side/font_3_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{528,552},{43,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{43,36}</string>
			</dict>
			<key>font_small_side/font_3_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{498,897},{43,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{43,36}</string>
			</dict>
			<key>font_small_side/font_3_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{506,844},{43,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{43,36}</string>
			</dict>
			<key>font_small_side/shade_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{494,333},{65,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{65,44}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>MaJiang.png</string>
			<key>realTextureFileName</key>
			<string>MaJiang.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>