<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>new_res/blank.png</key>
			<dict>
				<key>frame</key>
				<string>{{1016,1},{1,1}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1,1}</string>
			</dict>
			<key>new_res/btn_banker_apply.png</key>
			<dict>
				<key>frame</key>
				<string>{{616,1015},{216,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{216,85}</string>
			</dict>
			<key>new_res/btn_banker_cancle.png</key>
			<dict>
				<key>frame</key>
				<string>{{516,1096},{216,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{216,85}</string>
			</dict>
			<key>new_res/btn_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{140,1648},{82,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{82,83}</string>
			</dict>
			<key>new_res/chip_1_unactive.png</key>
			<dict>
				<key>frame</key>
				<string>{{582,1407},{117,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,117}</string>
			</dict>
			<key>new_res/chip_10_unactive.png</key>
			<dict>
				<key>frame</key>
				<string>{{349,1504},{117,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,117}</string>
			</dict>
			<key>new_res/chip_100_unactive.png</key>
			<dict>
				<key>frame</key>
				<string>{{543,1526},{117,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,117}</string>
			</dict>
			<key>new_res/chip_1000.png</key>
			<dict>
				<key>frame</key>
				<string>{{344,1623},{117,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,117}</string>
			</dict>
			<key>new_res/chip_1000_press.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,1722},{117,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,117}</string>
			</dict>
			<key>new_res/chip_1000_unactive.png</key>
			<dict>
				<key>frame</key>
				<string>{{662,1571},{117,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,117}</string>
			</dict>
			<key>new_res/chip_50_unacitve.png</key>
			<dict>
				<key>frame</key>
				<string>{{530,1645},{117,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,117}</string>
			</dict>
			<key>new_res/chip_500_unactive.png</key>
			<dict>
				<key>frame</key>
				<string>{{344,1742},{117,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,117}</string>
			</dict>
			<key>new_res/icon_money.png</key>
			<dict>
				<key>frame</key>
				<string>{{470,1024},{43,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{43,44}</string>
			</dict>
			<key>new_res/new_bj.png</key>
			<dict>
				<key>frame</key>
				<string>{{316,1024},{60,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,58}</string>
			</dict>
			<key>new_res/new_res_bjl_game_chip_0_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{781,1591},{117,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,117}</string>
			</dict>
			<key>new_res/new_res_bjl_game_chip_0_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{649,1690},{117,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,117}</string>
			</dict>
			<key>new_res/new_res_bjl_game_chip_0_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{463,1764},{117,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,117}</string>
			</dict>
			<key>new_res/new_res_bjl_game_chip_1_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{900,1608},{117,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,117}</string>
			</dict>
			<key>new_res/new_res_bjl_game_chip_2_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{768,1710},{117,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,117}</string>
			</dict>
			<key>new_res/new_res_bjl_game_chip_3_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{887,1727},{117,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,117}</string>
			</dict>
			<key>new_res/new_res_bjl_game_chip_4_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{582,1809},{117,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,117}</string>
			</dict>
			<key>new_res/new_res_bjl_game_chip_5_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{701,1829},{117,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,117}</string>
			</dict>
			<key>new_res/new_res_btn_apply.png</key>
			<dict>
				<key>frame</key>
				<string>{{470,1454},{159,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{159,71}</string>
			</dict>
			<key>new_res/new_res_btn_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,594},{118,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{118,39}</string>
			</dict>
			<key>new_res/new_res_btn_banker_apply.png</key>
			<dict>
				<key>frame</key>
				<string>{{842,1155},{216,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{216,85}</string>
			</dict>
			<key>new_res/new_res_btn_banker_cancle.png</key>
			<dict>
				<key>frame</key>
				<string>{{842,1373},{216,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{216,85}</string>
			</dict>
			<key>new_res/new_res_btn_cancle.png</key>
			<dict>
				<key>frame</key>
				<string>{{929,1434},{172,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{172,92}</string>
			</dict>
			<key>new_res/new_res_btn_change.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1096},{118,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,39}</string>
			</dict>
			<key>new_res/new_res_btn_chart.png</key>
			<dict>
				<key>frame</key>
				<string>{{244,1529},{98,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,96}</string>
			</dict>
			<key>new_res/new_res_btn_more.png</key>
			<dict>
				<key>frame</key>
				<string>{{358,765},{116,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,113}</string>
			</dict>
			<key>new_res/new_res_btn_people.png</key>
			<dict>
				<key>frame</key>
				<string>{{244,1627},{93,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{93,95}</string>
			</dict>
			<key>new_res/new_res_btn_setting.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,1096},{118,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,39}</string>
			</dict>
			<key>new_res/new_res_btn_sure.png</key>
			<dict>
				<key>frame</key>
				<string>{{603,1233},{172,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{172,92}</string>
			</dict>
			<key>new_res/new_res_chip_1_press.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,1928},{117,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,117}</string>
			</dict>
			<key>new_res/new_res_chip_1_unactive.png</key>
			<dict>
				<key>frame</key>
				<string>{{820,1846},{117,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,117}</string>
			</dict>
			<key>new_res/new_res_chip_1_unactive1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,408},{117,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,117}</string>
			</dict>
			<key>new_res/new_res_chip_10_press.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,408},{117,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,117}</string>
			</dict>
			<key>new_res/new_res_chip_10_unactive1.png</key>
			<dict>
				<key>frame</key>
				<string>{{239,408},{117,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,117}</string>
			</dict>
			<key>new_res/new_res_chip_100.png</key>
			<dict>
				<key>frame</key>
				<string>{{358,408},{117,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,117}</string>
			</dict>
			<key>new_res/new_res_chip_100_press.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,527},{117,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,117}</string>
			</dict>
			<key>new_res/new_res_chip_100_unactive1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,646},{117,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,117}</string>
			</dict>
			<key>new_res/new_res_chip_1000_press1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,765},{117,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,117}</string>
			</dict>
			<key>new_res/new_res_chip_1000_unactive1.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,527},{117,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,117}</string>
			</dict>
			<key>new_res/new_res_chip_50.png</key>
			<dict>
				<key>frame</key>
				<string>{{239,527},{117,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,117}</string>
			</dict>
			<key>new_res/new_res_chip_50_press.png</key>
			<dict>
				<key>frame</key>
				<string>{{358,527},{117,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,117}</string>
			</dict>
			<key>new_res/new_res_chip_50_unacitve1.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,646},{117,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,117}</string>
			</dict>
			<key>new_res/new_res_chip_50_unactive.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,765},{117,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,117}</string>
			</dict>
			<key>new_res/new_res_chip_500.png</key>
			<dict>
				<key>frame</key>
				<string>{{239,646},{117,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,117}</string>
			</dict>
			<key>new_res/new_res_chip_500_press.png</key>
			<dict>
				<key>frame</key>
				<string>{{358,646},{117,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,117}</string>
			</dict>
			<key>new_res/new_res_chip_500_unactive1.png</key>
			<dict>
				<key>frame</key>
				<string>{{239,765},{117,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,117}</string>
			</dict>
			<key>new_res/new_res_chip_small_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1024},{61,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,65}</string>
			</dict>
			<key>new_res/new_res_chip_small_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{64,1024},{61,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,65}</string>
			</dict>
			<key>new_res/new_res_chip_small_100.png</key>
			<dict>
				<key>frame</key>
				<string>{{127,1024},{61,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,65}</string>
			</dict>
			<key>new_res/new_res_chip_small_50.png</key>
			<dict>
				<key>frame</key>
				<string>{{190,1024},{61,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,65}</string>
			</dict>
			<key>new_res/new_res_chip_small_500.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,1024},{61,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,65}</string>
			</dict>
			<key>new_res/new_res_icon_money.png</key>
			<dict>
				<key>frame</key>
				<string>{{470,1069},{43,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{43,44}</string>
			</dict>
			<key>new_res/new_res_tag_ball_banker.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,872},{27,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,27}</string>
			</dict>
			<key>new_res/new_res_tag_ball_player.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,901},{27,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,27}</string>
			</dict>
			<key>new_res/new_res_tag_ball_tie.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,930},{27,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,27}</string>
			</dict>
			<key>new_res/new_res_tag_bg_maximuim.png</key>
			<dict>
				<key>frame</key>
				<string>{{616,810},{203,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{203,102}</string>
			</dict>
			<key>new_res/new_res_tag_box_chip.png</key>
			<dict>
				<key>frame</key>
				<string>{{251,1130},{397,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{397,96}</string>
			</dict>
			<key>new_res/new_res_tag_box_poker.png</key>
			<dict>
				<key>frame</key>
				<string>{{701,1424},{145,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{145,132}</string>
			</dict>
			<key>new_res/new_res_tag_circle_blue.png</key>
			<dict>
				<key>frame</key>
				<string>{{1002,1},{12,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{12,12}</string>
			</dict>
			<key>new_res/new_res_tag_circle_green.png</key>
			<dict>
				<key>frame</key>
				<string>{{1002,15},{12,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{12,12}</string>
			</dict>
			<key>new_res/new_res_tag_circle_red.png</key>
			<dict>
				<key>frame</key>
				<string>{{1002,29},{12,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{12,12}</string>
			</dict>
			<key>new_res/new_res_tag_countdown_bet.png</key>
			<dict>
				<key>frame</key>
				<string>{{241,1096},{122,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,32}</string>
			</dict>
			<key>new_res/new_res_tag_countdown_rest.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,714},{122,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,32}</string>
			</dict>
			<key>new_res/new_res_tag_dialog.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{405,528}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{405,528}</string>
			</dict>
			<key>new_res/new_res_tag_final_banker.png</key>
			<dict>
				<key>frame</key>
				<string>{{929,954},{478,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{478,92}</string>
			</dict>
			<key>new_res/new_res_tag_final_banker_pair.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1951},{478,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{478,92}</string>
			</dict>
			<key>new_res/new_res_tag_final_player.png</key>
			<dict>
				<key>frame</key>
				<string>{{522,616},{478,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{478,92}</string>
			</dict>
			<key>new_res/new_res_tag_final_player_pair.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,930},{478,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{478,92}</string>
			</dict>
			<key>new_res/new_res_tag_final_tie.png</key>
			<dict>
				<key>frame</key>
				<string>{{376,1024},{478,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{478,92}</string>
			</dict>
			<key>new_res/new_res_tag_line.png</key>
			<dict>
				<key>frame</key>
				<string>{{882,610},{339,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{339,69}</string>
			</dict>
			<key>new_res/new_res_tag_profile.png</key>
			<dict>
				<key>frame</key>
				<string>{{468,1615},{60,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,58}</string>
			</dict>
			<key>new_res/new_res_tag_profile_my.png</key>
			<dict>
				<key>frame</key>
				<string>{{616,616},{192,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{192,112}</string>
			</dict>
			<key>new_res/new_res_tag_setting.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1155},{248,274}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{248,274}</string>
			</dict>
			<key>new_res/new_res_tag_title_apply.png</key>
			<dict>
				<key>frame</key>
				<string>{{955,1},{202,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{202,45}</string>
			</dict>
			<key>new_res/new_res_tag_title_player.png</key>
			<dict>
				<key>frame</key>
				<string>{{955,205},{202,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{202,45}</string>
			</dict>
			<key>new_res/new_res_tag_win_banker.png</key>
			<dict>
				<key>frame</key>
				<string>{{743,1},{607,210}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{607,210}</string>
			</dict>
			<key>new_res/new_res_tag_win_banker_pair.png</key>
			<dict>
				<key>frame</key>
				<string>{{743,610},{520,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{520,137}</string>
			</dict>
			<key>new_res/new_res_tag_win_player.png</key>
			<dict>
				<key>frame</key>
				<string>{{531,1},{613,210}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{613,210}</string>
			</dict>
			<key>new_res/new_res_tag_win_player_pair.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1434},{515,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{515,137}</string>
			</dict>
			<key>new_res/new_res_tag_win_tie.png</key>
			<dict>
				<key>frame</key>
				<string>{{703,1132},{290,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{290,137}</string>
			</dict>
			<key>new_res/room_chipbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,838},{34,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,32}</string>
			</dict>
			<key>new_res/sitrole_user_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{470,1314},{110,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,138}</string>
			</dict>
			<key>new_res/tag_bet_money_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,408},{184,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{184,37}</string>
			</dict>
			<key>new_res/tag_line.png</key>
			<dict>
				<key>frame</key>
				<string>{{953,613},{339,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{339,69}</string>
			</dict>
			<key>new_res/tag_my_profile.png</key>
			<dict>
				<key>frame</key>
				<string>{{140,1431},{215,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{215,102}</string>
			</dict>
			<key>new_res/tag_profile.png</key>
			<dict>
				<key>frame</key>
				<string>{{140,1732},{60,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,58}</string>
			</dict>
			<key>new_res/tag_title_apply.png</key>
			<dict>
				<key>frame</key>
				<string>{{955,409},{202,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{202,45}</string>
			</dict>
			<key>new_res/tag_title_player.png</key>
			<dict>
				<key>frame</key>
				<string>{{882,951},{202,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{202,45}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>bjl.png</string>
			<key>realTextureFileName</key>
			<string>bjl.png</string>
			<key>size</key>
			<string>{1024,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>