<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>poke/bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{150,210}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,210}</string>
			</dict>
			<key>poke/bigtag_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{104,597},{72,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,66}</string>
			</dict>
			<key>poke/bigtag_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{104,669},{72,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,66}</string>
			</dict>
			<key>poke/bigtag_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{115,735},{72,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,66}</string>
			</dict>
			<key>poke/bigtag_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{176,863},{72,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,66}</string>
			</dict>
			<key>poke/bigtag_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,420},{104,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,159}</string>
			</dict>
			<key>poke/bigtag_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,579},{104,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,159}</string>
			</dict>
			<key>poke/bigtag_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,870},{102,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{102,93}</string>
			</dict>
			<key>poke/black_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{177,968},{51,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,66}</string>
			</dict>
			<key>poke/black_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,968},{51,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,66}</string>
			</dict>
			<key>poke/black_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{170,556},{51,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,66}</string>
			</dict>
			<key>poke/black_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{176,622},{51,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,66}</string>
			</dict>
			<key>poke/black_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,688},{51,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,66}</string>
			</dict>
			<key>poke/black_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,754},{51,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,66}</string>
			</dict>
			<key>poke/black_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,805},{51,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,66}</string>
			</dict>
			<key>poke/black_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,856},{51,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,66}</string>
			</dict>
			<key>poke/black_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,0},{51,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,66}</string>
			</dict>
			<key>poke/black_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,66},{51,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,66}</string>
			</dict>
			<key>poke/black_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,132},{51,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,66}</string>
			</dict>
			<key>poke/black_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,198},{51,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,66}</string>
			</dict>
			<key>poke/black_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{137,420},{68,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,66}</string>
			</dict>
			<key>poke/dizhutag.png</key>
			<dict>
				<key>frame</key>
				<string>{{93,870},{101,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{101,83}</string>
			</dict>
			<key>poke/gaoguang.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,738},{132,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{132,115}</string>
			</dict>
			<key>poke/poker_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,210},{150,210}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,210}</string>
			</dict>
			<key>poke/poker_mask_scale9.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,660},{57,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,54}</string>
			</dict>
			<key>poke/poker_small_flower.png</key>
			<dict>
				<key>frame</key>
				<string>{{176,935},{32,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>
			<key>poke/poker_small_heart.png</key>
			<dict>
				<key>frame</key>
				<string>{{208,935},{32,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>
			<key>poke/poker_small_peach.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,935},{32,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>
			<key>poke/poker_small_shape.png</key>
			<dict>
				<key>frame</key>
				<string>{{137,556},{32,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>
			<key>poke/red_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,264},{51,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,66}</string>
			</dict>
			<key>poke/red_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,330},{51,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,66}</string>
			</dict>
			<key>poke/red_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,0},{51,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,66}</string>
			</dict>
			<key>poke/red_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,66},{51,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,66}</string>
			</dict>
			<key>poke/red_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,132},{51,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,66}</string>
			</dict>
			<key>poke/red_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,198},{51,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,66}</string>
			</dict>
			<key>poke/red_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,264},{51,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,66}</string>
			</dict>
			<key>poke/red_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,330},{51,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,66}</string>
			</dict>
			<key>poke/red_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,396},{51,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,66}</string>
			</dict>
			<key>poke/red_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,462},{51,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,66}</string>
			</dict>
			<key>poke/red_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{221,528},{51,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,66}</string>
			</dict>
			<key>poke/red_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{227,594},{51,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,66}</string>
			</dict>
			<key>poke/red_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{137,488},{68,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,66}</string>
			</dict>
			<key>poke/small_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{115,807},{56,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,68}</string>
			</dict>
			<key>poke/smalltag_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,972},{33,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{33,177}</string>
			</dict>
			<key>poke/smalltag_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{104,420},{33,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,177}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>poker.png</string>
			<key>realTextureFileName</key>
			<string>poker.png</string>
			<key>size</key>
			<string>{512,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>