<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>desk/btn_blue.png</key>
			<dict>
				<key>frame</key>
				<string>{{1835,111},{157,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,71}</string>
			</dict>
			<key>desk/btn_blue_follow.png</key>
			<dict>
				<key>frame</key>
				<string>{{1835,182},{157,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,71}</string>
			</dict>
			<key>desk/btn_blue_follow_check.png</key>
			<dict>
				<key>frame</key>
				<string>{{358,424},{157,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,71}</string>
			</dict>
			<key>desk/btn_blue_follow_check_inactive.png</key>
			<dict>
				<key>frame</key>
				<string>{{515,415},{157,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,71}</string>
			</dict>
			<key>desk/btn_blue_follow_inactive.png</key>
			<dict>
				<key>frame</key>
				<string>{{672,415},{157,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,71}</string>
			</dict>
			<key>desk/btn_blue_inactive.png</key>
			<dict>
				<key>frame</key>
				<string>{{855,0},{157,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,71}</string>
			</dict>
			<key>desk/btn_last_game.png</key>
			<dict>
				<key>frame</key>
				<string>{{1989,311},{173,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{173,39}</string>
			</dict>
			<key>desk/btn_login_out.png</key>
			<dict>
				<key>frame</key>
				<string>{{515,486},{116,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,39}</string>
			</dict>
			<key>desk/btn_more.png</key>
			<dict>
				<key>frame</key>
				<string>{{1835,311},{116,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,113}</string>
			</dict>
			<key>desk/btn_orange_match.png</key>
			<dict>
				<key>frame</key>
				<string>{{855,71},{157,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,71}</string>
			</dict>
			<key>desk/btn_orange_match_inactive.png</key>
			<dict>
				<key>frame</key>
				<string>{{855,142},{157,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,71}</string>
			</dict>
			<key>desk/btn_orangea_all_in.png</key>
			<dict>
				<key>frame</key>
				<string>{{855,213},{157,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,71}</string>
			</dict>
			<key>desk/btn_orangea_all_in_inactive.png</key>
			<dict>
				<key>frame</key>
				<string>{{829,415},{157,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,71}</string>
			</dict>
			<key>desk/btn_rate.png</key>
			<dict>
				<key>frame</key>
				<string>{{500,226},{73,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,73}</string>
			</dict>
			<key>desk/btn_red_give.png</key>
			<dict>
				<key>frame</key>
				<string>{{986,424},{157,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,71}</string>
			</dict>
			<key>desk/btn_red_give_inactive.png</key>
			<dict>
				<key>frame</key>
				<string>{{986,284},{157,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,71}</string>
			</dict>
			<key>desk/btn_red_give_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{358,0},{157,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{157,71}</string>
			</dict>
			<key>desk/btn_red_give_up_check.png</key>
			<dict>
				<key>frame</key>
				<string>{{358,157},{157,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{157,71}</string>
			</dict>
			<key>desk/btn_red_give_up_check_inactive.png</key>
			<dict>
				<key>frame</key>
				<string>{{429,0},{157,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{157,71}</string>
			</dict>
			<key>desk/btn_red_give_up_inactive.png</key>
			<dict>
				<key>frame</key>
				<string>{{429,157},{157,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{157,71}</string>
			</dict>
			<key>desk/btn_setting.png</key>
			<dict>
				<key>frame</key>
				<string>{{631,486},{116,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,39}</string>
			</dict>
			<key>desk/tag_all_in.png</key>
			<dict>
				<key>frame</key>
				<string>{{1333,0},{450,237}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{450,237}</string>
			</dict>
			<key>desk/tag_arrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{358,314},{58,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,78}</string>
			</dict>
			<key>desk/tag_btn_bg.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{0,817},{1333,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1333,103}</string>
			</dict>
			<key>desk/tag_btn_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,920},{1333,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1333,103}</string>
			</dict>
			<key>desk/tag_dialog_rate.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{358,529}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{358,529}</string>
			</dict>
			<key>desk/tag_loading_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,529},{1028,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1028,144}</string>
			</dict>
			<key>desk/tag_loading_dot.png</key>
			<dict>
				<key>frame</key>
				<string>{{1302,0},{60,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,15}</string>
			</dict>
			<key>desk/tag_loading_dot_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1317,0},{8,8}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{8,8}</string>
			</dict>
			<key>desk/tag_loading_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{855,284},{82,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,83}</string>
			</dict>
			<key>desk/tag_loading_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{1783,0},{376,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{376,52}</string>
			</dict>
			<key>desk/tag_loadung.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,673},{1028,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1028,144}</string>
			</dict>
			<key>desk/tag_money.png</key>
			<dict>
				<key>frame</key>
				<string>{{358,376},{145,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{145,36}</string>
			</dict>
			<key>desk/tag_profile.png</key>
			<dict>
				<key>frame</key>
				<string>{{1835,0},{111,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{111,172}</string>
			</dict>
			<key>desk/tag_setting.png</key>
			<dict>
				<key>frame</key>
				<string>{{1028,0},{248,274}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{248,274}</string>
			</dict>
			<key>desk/tag_tip_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{2007,0},{311,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{311,38}</string>
			</dict>
			<key>desk/tag_tip_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1951,298},{251,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{251,38}</string>
			</dict>
			<key>desk/tag_tip_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1989,484},{145,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{145,38}</string>
			</dict>
			<key>desk/tag_title_premium.png</key>
			<dict>
				<key>frame</key>
				<string>{{1835,253},{157,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,45}</string>
			</dict>
			<key>desk/btn_chat.png</key>
			<dict>
				<key>frame</key>
				<string>{{739,376},{116,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,39}</string>
			</dict>
			<key>desk/btn_show.png</key>
			<dict>
				<key>frame</key>
				<string>{{986,355},{157,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,69}</string>
			</dict>
			<key>desk/btn_show_unactive.png</key>
			<dict>
				<key>frame</key>
				<string>{{500,0},{157,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,69}</string>
			</dict>
			<key>desk/btn_start.png</key>
			<dict>
				<key>frame</key>
				<string>{{657,0},{157,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,69}</string>
			</dict>
			<key>desk/btn_start_unactive.png</key>
			<dict>
				<key>frame</key>
				<string>{{500,69},{157,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{157,69}</string>
			</dict>
			<key>desk/chip_small_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{500,299},{68,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,71}</string>
			</dict>
			<key>desk/chip_small_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{568,299},{68,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,71}</string>
			</dict>
			<key>desk/chip_small_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{569,69},{68,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,71}</string>
			</dict>
			<key>desk/btn_change.png</key>
			<dict>
				<key>frame</key>
				<string>{{503,376},{118,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,39}</string>
			</dict>
			<key>desk/btn_change_unactive.png</key>
			<dict>
				<key>frame</key>
				<string>{{621,376},{118,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,39}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>deskSource.png</string>
			<key>realTextureFileName</key>
			<string>deskSource.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>