<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>desk/btn_blue.png</key>
			<dict>
				<key>frame</key>
				<string>{{1333,816},{157,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{157,71}</string>
			</dict>
			<key>desk/btn_blue_follow.png</key>
			<dict>
				<key>frame</key>
				<string>{{1783,224},{157,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,71}</string>
			</dict>
			<key>desk/btn_blue_follow_check.png</key>
			<dict>
				<key>frame</key>
				<string>{{1325,295},{157,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,71}</string>
			</dict>
			<key>desk/btn_blue_follow_check_inactive.png</key>
			<dict>
				<key>frame</key>
				<string>{{1482,276},{157,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,71}</string>
			</dict>
			<key>desk/btn_blue_follow_inactive.png</key>
			<dict>
				<key>frame</key>
				<string>{{1773,295},{157,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,71}</string>
			</dict>
			<key>desk/btn_blue_inactive.png</key>
			<dict>
				<key>frame</key>
				<string>{{1888,366},{157,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{157,71}</string>
			</dict>
			<key>desk/btn_last_game.png</key>
			<dict>
				<key>frame</key>
				<string>{{1325,237},{173,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{173,39}</string>
			</dict>
			<key>desk/btn_login_out.png</key>
			<dict>
				<key>frame</key>
				<string>{{1734,237},{116,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{116,39}</string>
			</dict>
			<key>desk/btn_more.png</key>
			<dict>
				<key>frame</key>
				<string>{{1783,111},{116,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,113}</string>
			</dict>
			<key>desk/btn_orange_match.png</key>
			<dict>
				<key>frame</key>
				<string>{{1959,424},{157,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{157,71}</string>
			</dict>
			<key>desk/btn_orange_match_inactive.png</key>
			<dict>
				<key>frame</key>
				<string>{{1273,523},{157,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,71}</string>
			</dict>
			<key>desk/btn_orangea_all_in.png</key>
			<dict>
				<key>frame</key>
				<string>{{1430,523},{157,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,71}</string>
			</dict>
			<key>desk/btn_orangea_all_in_inactive.png</key>
			<dict>
				<key>frame</key>
				<string>{{1587,523},{157,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,71}</string>
			</dict>
			<key>desk/btn_rate.png</key>
			<dict>
				<key>frame</key>
				<string>{{1955,0},{73,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,73}</string>
			</dict>
			<key>desk/btn_red_give.png</key>
			<dict>
				<key>frame</key>
				<string>{{1643,594},{157,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{157,71}</string>
			</dict>
			<key>desk/btn_red_give_inactive.png</key>
			<dict>
				<key>frame</key>
				<string>{{1744,466},{157,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{157,71}</string>
			</dict>
			<key>desk/btn_red_give_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{1815,466},{157,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{157,71}</string>
			</dict>
			<key>desk/btn_red_give_up_check.png</key>
			<dict>
				<key>frame</key>
				<string>{{1886,523},{157,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{157,71}</string>
			</dict>
			<key>desk/btn_red_give_up_check_inactive.png</key>
			<dict>
				<key>frame</key>
				<string>{{1957,581},{157,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{157,71}</string>
			</dict>
			<key>desk/btn_red_give_up_inactive.png</key>
			<dict>
				<key>frame</key>
				<string>{{1714,623},{157,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,71}</string>
			</dict>
			<key>desk/btn_setting.png</key>
			<dict>
				<key>frame</key>
				<string>{{1981,151},{116,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{116,39}</string>
			</dict>
			<key>desk/tag_all_in.png</key>
			<dict>
				<key>frame</key>
				<string>{{1333,0},{450,237}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{450,237}</string>
			</dict>
			<key>desk/tag_arrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{1981,73},{58,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,78}</string>
			</dict>
			<key>desk/tag_btn_bg.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{0,817},{1333,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1333,103}</string>
			</dict>
			<key>desk/tag_btn_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,920},{1333,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1333,103}</string>
			</dict>
			<key>desk/tag_dialog_rate.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{358,529}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{358,529}</string>
			</dict>
			<key>desk/tag_loading_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,529},{1028,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1028,144}</string>
			</dict>
			<key>desk/tag_loading_dot.png</key>
			<dict>
				<key>frame</key>
				<string>{{1333,973},{60,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,15}</string>
			</dict>
			<key>desk/tag_loading_dot_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1325,0},{8,8}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{8,8}</string>
			</dict>
			<key>desk/tag_loading_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{1899,111},{82,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,83}</string>
			</dict>
			<key>desk/tag_loading_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{1273,0},{376,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{376,52}</string>
			</dict>
			<key>desk/tag_loadung.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,673},{1028,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1028,144}</string>
			</dict>
			<key>desk/tag_money.png</key>
			<dict>
				<key>frame</key>
				<string>{{1484,733},{145,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{145,36}</string>
			</dict>
			<key>desk/tag_profile.png</key>
			<dict>
				<key>frame</key>
				<string>{{1783,0},{111,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{111,172}</string>
			</dict>
			<key>desk/tag_setting.png</key>
			<dict>
				<key>frame</key>
				<string>{{1436,771},{248,274}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{248,274}</string>
			</dict>
			<key>desk/tag_tip_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1028,733},{311,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{311,38}</string>
			</dict>
			<key>desk/tag_tip_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1028,771},{251,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{251,38}</string>
			</dict>
			<key>desk/tag_tip_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1339,733},{145,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{145,38}</string>
			</dict>
			<key>desk/tag_title_premium.png</key>
			<dict>
				<key>frame</key>
				<string>{{1279,771},{157,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,45}</string>
			</dict>
			<key>desk/btn_chat.png</key>
			<dict>
				<key>frame</key>
				<string>{{1940,194},{116,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{116,39}</string>
			</dict>
			<key>desk/btn_show.png</key>
			<dict>
				<key>frame</key>
				<string>{{1979,267},{157,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{157,69}</string>
			</dict>
			<key>desk/btn_show_unactive.png</key>
			<dict>
				<key>frame</key>
				<string>{{1871,680},{157,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{157,69}</string>
			</dict>
			<key>desk/btn_start.png</key>
			<dict>
				<key>frame</key>
				<string>{{1940,738},{157,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{157,69}</string>
			</dict>
			<key>desk/btn_start_unactive.png</key>
			<dict>
				<key>frame</key>
				<string>{{1710,837},{157,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{157,69}</string>
			</dict>
			<key>desk/chip_small_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1639,276},{68,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,71}</string>
			</dict>
			<key>desk/chip_small_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{1710,751},{68,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,71}</string>
			</dict>
			<key>desk/chip_small_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1778,694},{68,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,71}</string>
			</dict>
			<key>desk/btn_change.png</key>
			<dict>
				<key>frame</key>
				<string>{{1498,237},{118,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,39}</string>
			</dict>
			<key>desk/btn_change_unactive.png</key>
			<dict>
				<key>frame</key>
				<string>{{1616,237},{118,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,39}</string>
			</dict>
			<key>compare/tag_vs_lines_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1028,615},{615,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{615,118}</string>
			</dict>
			<key>compare/tag_vs_lines_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1028,0},{615,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{615,123}</string>
			</dict>
			<key>compare/tag_vs_lines_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1273,376},{615,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{615,90}</string>
			</dict>
			<key>compare/tag_vs_lines_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1151,0},{615,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{615,122}</string>
			</dict>
			<key>desk/chip_small_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1778,762},{68,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,69}</string>
			</dict>
			<key>desk/chip_small_100.png</key>
			<dict>
				<key>frame</key>
				<string>{{1779,831},{68,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,69}</string>
			</dict>
			<key>desk/chip_small_50.png</key>
			<dict>
				<key>frame</key>
				<string>{{1848,837},{68,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,69}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>deskSource.png</string>
			<key>realTextureFileName</key>
			<string>deskSource.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>