<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>desk/btn_blue.png</key>
			<dict>
				<key>frame</key>
				<string>{{1947,615},{157,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{157,71}</string>
			</dict>
			<key>desk/btn_blue_follow.png</key>
			<dict>
				<key>frame</key>
				<string>{{1947,772},{157,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{157,71}</string>
			</dict>
			<key>desk/btn_blue_follow_check.png</key>
			<dict>
				<key>frame</key>
				<string>{{1673,929},{157,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,71}</string>
			</dict>
			<key>desk/btn_blue_follow_check_inactive.png</key>
			<dict>
				<key>frame</key>
				<string>{{1478,788},{157,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,71}</string>
			</dict>
			<key>desk/btn_blue_follow_inactive.png</key>
			<dict>
				<key>frame</key>
				<string>{{1483,615},{157,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{157,71}</string>
			</dict>
			<key>desk/btn_blue_inactive.png</key>
			<dict>
				<key>frame</key>
				<string>{{1554,615},{157,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{157,71}</string>
			</dict>
			<key>desk/btn_last_game.png</key>
			<dict>
				<key>frame</key>
				<string>{{1444,615},{173,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{173,39}</string>
			</dict>
			<key>desk/btn_login_out.png</key>
			<dict>
				<key>frame</key>
				<string>{{991,920},{248,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{248,38}</string>
			</dict>
			<key>desk/btn_more.png</key>
			<dict>
				<key>frame</key>
				<string>{{1830,863},{116,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,113}</string>
			</dict>
			<key>desk/btn_orange_match.png</key>
			<dict>
				<key>frame</key>
				<string>{{1573,145},{157,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{157,71}</string>
			</dict>
			<key>desk/btn_orange_match_inactive.png</key>
			<dict>
				<key>frame</key>
				<string>{{1573,302},{157,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{157,71}</string>
			</dict>
			<key>desk/btn_orangea_all_in.png</key>
			<dict>
				<key>frame</key>
				<string>{{1644,450},{157,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{157,71}</string>
			</dict>
			<key>desk/btn_orangea_all_in_inactive.png</key>
			<dict>
				<key>frame</key>
				<string>{{1715,450},{157,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{157,71}</string>
			</dict>
			<key>desk/btn_rate.png</key>
			<dict>
				<key>frame</key>
				<string>{{1333,787},{73,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,73}</string>
			</dict>
			<key>desk/btn_red_give.png</key>
			<dict>
				<key>frame</key>
				<string>{{1786,450},{157,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{157,71}</string>
			</dict>
			<key>desk/btn_red_give_inactive.png</key>
			<dict>
				<key>frame</key>
				<string>{{1239,0},{157,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{157,71}</string>
			</dict>
			<key>desk/btn_red_give_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{1239,157},{157,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{157,71}</string>
			</dict>
			<key>desk/btn_red_give_up_check.png</key>
			<dict>
				<key>frame</key>
				<string>{{1028,196},{157,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,71}</string>
			</dict>
			<key>desk/btn_red_give_up_check_inactive.png</key>
			<dict>
				<key>frame</key>
				<string>{{1028,267},{157,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,71}</string>
			</dict>
			<key>desk/btn_red_give_up_inactive.png</key>
			<dict>
				<key>frame</key>
				<string>{{1185,314},{157,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{157,71}</string>
			</dict>
			<key>desk/btn_setting.png</key>
			<dict>
				<key>frame</key>
				<string>{{1177,958},{248,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{248,38}</string>
			</dict>
			<key>desk/tag_all_in.png</key>
			<dict>
				<key>frame</key>
				<string>{{1673,0},{450,237}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{450,237}</string>
			</dict>
			<key>desk/tag_arrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{1735,863},{58,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,78}</string>
			</dict>
			<key>desk/tag_btn_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,817},{1333,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1333,103}</string>
			</dict>
			<key>desk/tag_dialog_rate.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{358,529}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{358,529}</string>
			</dict>
			<key>desk/tag_loading_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,529},{1028,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1028,144}</string>
			</dict>
			<key>desk/tag_loading_dot.png</key>
			<dict>
				<key>frame</key>
				<string>{{1177,996},{60,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,15}</string>
			</dict>
			<key>desk/tag_loading_dot_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1010},{8,8}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{8,8}</string>
			</dict>
			<key>desk/tag_loading_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{1946,929},{82,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,83}</string>
			</dict>
			<key>desk/tag_loading_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{615,920},{376,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{376,52}</string>
			</dict>
			<key>desk/tag_loadung.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,673},{1028,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1028,144}</string>
			</dict>
			<key>desk/tag_money.png</key>
			<dict>
				<key>frame</key>
				<string>{{1635,0},{145,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{145,36}</string>
			</dict>
			<key>desk/tag_profile.png</key>
			<dict>
				<key>frame</key>
				<string>{{1333,615},{111,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{111,172}</string>
			</dict>
			<key>desk/tag_setting.png</key>
			<dict>
				<key>frame</key>
				<string>{{1673,615},{248,274}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{248,274}</string>
			</dict>
			<key>desk/tag_tip_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{615,972},{311,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{311,38}</string>
			</dict>
			<key>desk/tag_tip_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{926,972},{251,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{251,38}</string>
			</dict>
			<key>desk/tag_tip_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1333,860},{145,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{145,38}</string>
			</dict>
			<key>desk/tag_title_premium.png</key>
			<dict>
				<key>frame</key>
				<string>{{1487,901},{157,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,45}</string>
			</dict>
			<key>desk/btn_chat.png</key>
			<dict>
				<key>frame</key>
				<string>{{1239,920},{248,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{248,38}</string>
			</dict>
			<key>desk/btn_show.png</key>
			<dict>
				<key>frame</key>
				<string>{{1256,314},{157,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{157,69}</string>
			</dict>
			<key>desk/btn_show_unactive.png</key>
			<dict>
				<key>frame</key>
				<string>{{1028,338},{157,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,69}</string>
			</dict>
			<key>desk/btn_start.png</key>
			<dict>
				<key>frame</key>
				<string>{{1028,407},{157,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,69}</string>
			</dict>
			<key>desk/btn_start_unactive.png</key>
			<dict>
				<key>frame</key>
				<string>{{1185,471},{157,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{157,69}</string>
			</dict>
			<key>desk/chip_small_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1406,788},{68,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,71}</string>
			</dict>
			<key>desk/chip_small_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{1573,459},{68,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,71}</string>
			</dict>
			<key>desk/chip_small_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1573,527},{68,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,71}</string>
			</dict>
			<key>desk/btn_change.png</key>
			<dict>
				<key>frame</key>
				<string>{{1425,958},{248,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{248,38}</string>
			</dict>
			<key>desk/btn_change_unactive.png</key>
			<dict>
				<key>frame</key>
				<string>{{1487,863},{248,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{248,38}</string>
			</dict>
			<key>compare/tag_vs_lines_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1455,0},{615,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{615,118}</string>
			</dict>
			<key>compare/tag_vs_lines_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1910,0},{615,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{615,123}</string>
			</dict>
			<key>compare/tag_vs_lines_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,920},{615,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{615,90}</string>
			</dict>
			<key>compare/tag_vs_lines_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1333,0},{615,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{615,122}</string>
			</dict>
			<key>desk/chip_small_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1254,471},{68,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,69}</string>
			</dict>
			<key>desk/chip_small_100.png</key>
			<dict>
				<key>frame</key>
				<string>{{1254,539},{68,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,69}</string>
			</dict>
			<key>desk/chip_small_50.png</key>
			<dict>
				<key>frame</key>
				<string>{{1254,607},{68,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,69}</string>
			</dict>
			<key>desk/dz_table.png</key>
			<dict>
				<key>frame</key>
				<string>{{1028,0},{196,211}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{196,211}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>deskSource.png</string>
			<key>realTextureFileName</key>
			<string>deskSource.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>