<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>poker/poker_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{87,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,118}</string>
			</dict>
			<key>poker/poker_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,118},{87,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,118}</string>
			</dict>
			<key>poker/poker_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,236},{87,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,118}</string>
			</dict>
			<key>poker/poker_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,354},{87,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,118}</string>
			</dict>
			<key>poker/poker_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,472},{87,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,118}</string>
			</dict>
			<key>poker/poker_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,590},{87,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,118}</string>
			</dict>
			<key>poker/poker_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,708},{87,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,118}</string>
			</dict>
			<key>poker/poker_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,826},{87,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,118}</string>
			</dict>
			<key>poker/poker_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{87,0},{87,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,118}</string>
			</dict>
			<key>poker/poker_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,0},{87,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,118}</string>
			</dict>
			<key>poker/poker_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{323,0},{87,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,118}</string>
			</dict>
			<key>poker/poker_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{441,0},{87,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,118}</string>
			</dict>
			<key>poker/poker_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{559,0},{87,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,118}</string>
			</dict>
			<key>poker/poker_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{677,0},{87,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,118}</string>
			</dict>
			<key>poker/poker_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{795,0},{87,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,118}</string>
			</dict>
			<key>poker/poker_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{913,0},{87,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,118}</string>
			</dict>
			<key>poker/poker_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{87,87},{87,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,118}</string>
			</dict>
			<key>poker/poker_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,87},{87,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,118}</string>
			</dict>
			<key>poker/poker_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{323,87},{87,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,118}</string>
			</dict>
			<key>poker/poker_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{441,87},{87,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,118}</string>
			</dict>
			<key>poker/poker_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{559,87},{87,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,118}</string>
			</dict>
			<key>poker/poker_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{677,87},{87,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,118}</string>
			</dict>
			<key>poker/poker_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{795,87},{87,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,118}</string>
			</dict>
			<key>poker/poker_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{913,118},{87,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,118}</string>
			</dict>
			<key>poker/poker_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{87,174},{87,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,118}</string>
			</dict>
			<key>poker/poker_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,174},{87,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,118}</string>
			</dict>
			<key>poker/poker_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{323,174},{87,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,118}</string>
			</dict>
			<key>poker/poker_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{441,174},{87,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,118}</string>
			</dict>
			<key>poker/poker_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{559,174},{87,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,118}</string>
			</dict>
			<key>poker/poker_30.png</key>
			<dict>
				<key>frame</key>
				<string>{{677,174},{87,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,118}</string>
			</dict>
			<key>poker/poker_31.png</key>
			<dict>
				<key>frame</key>
				<string>{{795,174},{87,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,118}</string>
			</dict>
			<key>poker/poker_32.png</key>
			<dict>
				<key>frame</key>
				<string>{{913,236},{87,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,118}</string>
			</dict>
			<key>poker/poker_33.png</key>
			<dict>
				<key>frame</key>
				<string>{{87,354},{87,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,118}</string>
			</dict>
			<key>poker/poker_34.png</key>
			<dict>
				<key>frame</key>
				<string>{{87,261},{87,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,118}</string>
			</dict>
			<key>poker/poker_35.png</key>
			<dict>
				<key>frame</key>
				<string>{{174,348},{87,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,118}</string>
			</dict>
			<key>poker/poker_36.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,261},{87,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,118}</string>
			</dict>
			<key>poker/poker_37.png</key>
			<dict>
				<key>frame</key>
				<string>{{261,348},{87,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,118}</string>
			</dict>
			<key>poker/poker_38.png</key>
			<dict>
				<key>frame</key>
				<string>{{323,261},{87,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,118}</string>
			</dict>
			<key>poker/poker_39.png</key>
			<dict>
				<key>frame</key>
				<string>{{441,261},{87,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,118}</string>
			</dict>
			<key>poker/poker_40.png</key>
			<dict>
				<key>frame</key>
				<string>{{559,261},{87,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,118}</string>
			</dict>
			<key>poker/poker_41.png</key>
			<dict>
				<key>frame</key>
				<string>{{677,261},{87,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,118}</string>
			</dict>
			<key>poker/poker_42.png</key>
			<dict>
				<key>frame</key>
				<string>{{795,261},{87,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,118}</string>
			</dict>
			<key>poker/poker_43.png</key>
			<dict>
				<key>frame</key>
				<string>{{379,348},{87,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,118}</string>
			</dict>
			<key>poker/poker_44.png</key>
			<dict>
				<key>frame</key>
				<string>{{497,348},{87,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,118}</string>
			</dict>
			<key>poker/poker_45.png</key>
			<dict>
				<key>frame</key>
				<string>{{615,348},{87,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,118}</string>
			</dict>
			<key>poker/poker_46.png</key>
			<dict>
				<key>frame</key>
				<string>{{733,348},{87,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,118}</string>
			</dict>
			<key>poker/poker_47.png</key>
			<dict>
				<key>frame</key>
				<string>{{851,354},{87,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,118}</string>
			</dict>
			<key>poker/poker_48.png</key>
			<dict>
				<key>frame</key>
				<string>{{261,435},{87,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,118}</string>
			</dict>
			<key>poker/poker_49.png</key>
			<dict>
				<key>frame</key>
				<string>{{174,466},{87,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,118}</string>
			</dict>
			<key>poker/poker_50.png</key>
			<dict>
				<key>frame</key>
				<string>{{87,472},{87,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,118}</string>
			</dict>
			<key>poker/poker_51.png</key>
			<dict>
				<key>frame</key>
				<string>{{348,435},{87,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,118}</string>
			</dict>
			<key>poker/poker_52.png</key>
			<dict>
				<key>frame</key>
				<string>{{466,435},{87,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,118}</string>
			</dict>
			<key>poker/poker_53.png</key>
			<dict>
				<key>frame</key>
				<string>{{584,435},{87,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,118}</string>
			</dict>
			<key>poker/poker_54.png</key>
			<dict>
				<key>frame</key>
				<string>{{702,435},{87,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,118}</string>
			</dict>
			<key>poker/newpoker_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{820,441},{87,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,118}</string>
			</dict>
			<key>poker/newpoker_break.png</key>
			<dict>
				<key>frame</key>
				<string>{{348,522},{87,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,118}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>poker.png</string>
			<key>realTextureFileName</key>
			<string>poker.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>