<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>setting_all_quiet.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,785},{125,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{125,35}}</string>
                <key>sourceSize</key>
                <string>{127,35}</string>
            </dict>
            <key>setting_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{727,482}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{727,482}}</string>
                <key>sourceSize</key>
                <string>{727,482}</string>
            </dict>
            <key>setting_check_no.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,785},{55,54}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,54}}</string>
                <key>sourceSize</key>
                <string>{57,56}</string>
            </dict>
            <key>setting_check_yes.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,859},{55,54}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,54}}</string>
                <key>sourceSize</key>
                <string>{57,56}</string>
            </dict>
            <key>setting_min.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,34},{29,13}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,11},{29,13}}</string>
                <key>sourceSize</key>
                <string>{29,33}</string>
            </dict>
            <key>setting_music.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,785},{72,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{72,35}}</string>
                <key>sourceSize</key>
                <string>{74,35}</string>
            </dict>
            <key>setting_plus.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,916},{29,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,33}}</string>
                <key>sourceSize</key>
                <string>{29,33}</string>
            </dict>
            <key>setting_shake_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,785},{94,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{94,35}}</string>
                <key>sourceSize</key>
                <string>{100,35}</string>
            </dict>
            <key>setting_shake_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,912},{94,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{94,35}}</string>
                <key>sourceSize</key>
                <string>{100,35}</string>
            </dict>
            <key>setting_slipbar_empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{494,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{494,30}}</string>
                <key>sourceSize</key>
                <string>{494,30}</string>
            </dict>
            <key>setting_slipbar_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,34},{484,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{484,20}}</string>
                <key>sourceSize</key>
                <string>{494,30}</string>
            </dict>
            <key>setting_sound.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,881},{72,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{72,35}}</string>
                <key>sourceSize</key>
                <string>{74,35}</string>
            </dict>
            <key>settting_slipCoin.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,955},{67,68}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{67,68}}</string>
                <key>sourceSize</key>
                <string>{69,68}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>setting.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:66a0df9cc162d32f8711913477a0f7a5$</string>
            <key>textureFileName</key>
            <string>setting.png</string>
        </dict>
    </dict>
</plist>
