<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>douniu_ani_frame_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,470},{134,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,174}}</string>
                <key>sourceSize</key>
                <string>{134,174}</string>
            </dict>
            <key>douniu_ani_frame_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,710},{236,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,113}}</string>
                <key>sourceSize</key>
                <string>{236,113}</string>
            </dict>
            <key>douniu_ani_frame_bg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,774},{222,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,99}}</string>
                <key>sourceSize</key>
                <string>{222,99}</string>
            </dict>
            <key>douniu_ani_frame_bg4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,853},{338,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,11}}</string>
                <key>sourceSize</key>
                <string>{338,11}</string>
            </dict>
            <key>douniu_ani_frame_bg5.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,825},{184,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,53}}</string>
                <key>sourceSize</key>
                <string>{184,53}</string>
            </dict>
            <key>douniu_ani_frame_bg6.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,646},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,126}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>douniu_ani_leveup.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,590},{309,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,118}}</string>
                <key>sourceSize</key>
                <string>{309,118}</string>
            </dict>
            <key>douniu_ani_result_bg10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{540,424}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{540,424}}</string>
                <key>sourceSize</key>
                <string>{540,424}</string>
            </dict>
            <key>douniu_ani_result_bg11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{540,423}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{540,423}}</string>
                <key>sourceSize</key>
                <string>{540,423}</string>
            </dict>
            <key>douniu_ani_result_bg9.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,2},{450,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,320}}</string>
                <key>sourceSize</key>
                <string>{450,320}</string>
            </dict>
            <key>douniu_ani_result_draw1.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,470},{309,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,118}}</string>
                <key>sourceSize</key>
                <string>{309,118}</string>
            </dict>
            <key>douniu_ani_result_draw2.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,324},{358,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{358,144}}</string>
                <key>sourceSize</key>
                <string>{358,144}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>animation2.png</string>
            <key>size</key>
            <string>{1006,880}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7aa7c6648ee35e0419d8b5e87b603bf2:1/1$</string>
            <key>textureFileName</key>
            <string>animation2.png</string>
        </dict>
    </dict>
</plist>
