<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>28gang/btn_apply.png</key>
			<dict>
				<key>frame</key>
				<string>{{408,436},{129,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{129,48}</string>
			</dict>
			<key>28gang/btn_apply_player.png</key>
			<dict>
				<key>frame</key>
				<string>{{627,452},{172,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{172,69}</string>
			</dict>
			<key>28gang/btn_apply_player_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{942,251},{129,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,48}</string>
			</dict>
			<key>28gang/btn_apply_player_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{1075,251},{129,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,48}</string>
			</dict>
			<key>28gang/btn_apply_player_an.png</key>
			<dict>
				<key>frame</key>
				<string>{{803,434},{172,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{172,69}</string>
			</dict>
			<key>28gang/btn_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{979,386},{121,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,123}</string>
			</dict>
			<key>28gang/btn_bet_continue.png</key>
			<dict>
				<key>frame</key>
				<string>{{471,2},{256,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{256,92}</string>
			</dict>
			<key>28gang/btn_bet_continue_inactive.png</key>
			<dict>
				<key>frame</key>
				<string>{{567,2},{256,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{256,92}</string>
			</dict>
			<key>28gang/btn_cancle_apply.png</key>
			<dict>
				<key>frame</key>
				<string>{{917,313},{172,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{172,69}</string>
			</dict>
			<key>28gang/btn_cancle_apply_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1250,376},{129,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{129,48}</string>
			</dict>
			<key>28gang/btn_cancle_apply_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{1015,2},{129,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{129,48}</string>
			</dict>
			<key>28gang/btn_cancle_apply_an.png</key>
			<dict>
				<key>frame</key>
				<string>{{942,2},{172,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{172,69}</string>
			</dict>
			<key>28gang/btn_cancle_palyer.png</key>
			<dict>
				<key>frame</key>
				<string>{{942,178},{172,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{172,69}</string>
			</dict>
			<key>28gang/btn_cancle_palyer_forbbiden.png</key>
			<dict>
				<key>frame</key>
				<string>{{1093,303},{172,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{172,69}</string>
			</dict>
			<key>28gang/btn_cancle_player.png</key>
			<dict>
				<key>frame</key>
				<string>{{1067,2},{129,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{129,48}</string>
			</dict>
			<key>28gang/btn_cancle_player_forbbiden.png</key>
			<dict>
				<key>frame</key>
				<string>{{1118,135},{129,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,48}</string>
			</dict>
			<key>28gang/btn_money_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{567,262},{272,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{272,56}</string>
			</dict>
			<key>28gang/btn_num_person.png</key>
			<dict>
				<key>frame</key>
				<string>{{460,497},{86,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,86}</string>
			</dict>
			<key>28gang/btn_ways.png</key>
			<dict>
				<key>frame</key>
				<string>{{627,313},{135,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{135,135}</string>
			</dict>
			<key>28gang/chip_table_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{408,569},{47,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{47,48}</string>
			</dict>
			<key>28gang/chip_table_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{671,659},{47,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{47,48}</string>
			</dict>
			<key>28gang/chip_table_100.png</key>
			<dict>
				<key>frame</key>
				<string>{{723,659},{47,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{47,48}</string>
			</dict>
			<key>28gang/chip_table_50.png</key>
			<dict>
				<key>frame</key>
				<string>{{775,659},{47,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{47,48}</string>
			</dict>
			<key>28gang/chip_table_500.png</key>
			<dict>
				<key>frame</key>
				<string>{{827,659},{47,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{47,48}</string>
			</dict>
			<key>28gang/tag_bai_hover.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,737},{307,267}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{307,267}</string>
			</dict>
			<key>28gang/tag_bai_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{137,2},{307,267}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{307,267}</string>
			</dict>
			<key>28gang/tag_bet_please.png</key>
			<dict>
				<key>frame</key>
				<string>{{671,592},{209,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{209,63}</string>
			</dict>
			<key>28gang/tag_bot_green.png</key>
			<dict>
				<key>frame</key>
				<string>{{137,710},{22,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{22,22}</string>
			</dict>
			<key>28gang/tag_bot_red.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,710},{22,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{22,22}</string>
			</dict>
			<key>28gang/tag_fa_hover.png</key>
			<dict>
				<key>frame</key>
				<string>{{137,313},{307,267}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{307,267}</string>
			</dict>
			<key>28gang/tag_fa_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{313,710},{307,267}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{307,267}</string>
			</dict>
			<key>28gang/tag_num.png</key>
			<dict>
				<key>frame</key>
				<string>{{408,2},{430,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{430,59}</string>
			</dict>
			<key>28gang/tag_outcome_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{471,262},{231,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{231,92}</string>
			</dict>
			<key>28gang/tag_outcome_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{550,538},{832,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{832,50}</string>
			</dict>
			<key>28gang/tag_profile.png</key>
			<dict>
				<key>frame</key>
				<string>{{766,313},{117,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{117,147}</string>
			</dict>
			<key>28gang/tag_tip.png</key>
			<dict>
				<key>frame</key>
				<string>{{137,624},{530,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{530,82}</string>
			</dict>
			<key>28gang/tag_title_fail.png</key>
			<dict>
				<key>frame</key>
				<string>{{1104,376},{131,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{131,69}</string>
			</dict>
			<key>28gang/tag_title_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{1177,376},{131,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{131,69}</string>
			</dict>
			<key>28gang/tag_top_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{731,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{731,131}</string>
			</dict>
			<key>28gang/tag_zhong.png</key>
			<dict>
				<key>frame</key>
				<string>{{584,710},{307,267}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{307,267}</string>
			</dict>
			<key>28gang/tag_zhong_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{671,2},{307,267}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{307,267}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>28gang.png</string>
			<key>realTextureFileName</key>
			<string>28gang.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>