<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hall_btn_anim_mail_bg_mail.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,2},{75,86}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{75,86}}</string>
                <key>sourceSize</key>
                <string>{95,92}</string>
            </dict>
            <key>hall_btn_anim_mail_f_glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{95,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,92}}</string>
                <key>sourceSize</key>
                <string>{95,92}</string>
            </dict>
            <key>hall_btn_anim_mail_fire_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,229},{76,64}}</string>
                <key>offset</key>
                <string>{15,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,34},{76,64}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>hall_btn_anim_mail_fire_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,2},{78,64}}</string>
                <key>offset</key>
                <string>{17,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,33},{78,64}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>hall_btn_anim_mail_fire_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,157},{78,70}}</string>
                <key>offset</key>
                <string>{16,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,27},{78,70}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>hall_btn_anim_mail_fire_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{68,72}}</string>
                <key>offset</key>
                <string>{12,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,25},{68,72}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>hall_btn_anim_mail_fire_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,295},{70,72}}</string>
                <key>offset</key>
                <string>{11,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,25},{70,72}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>hall_btn_anim_mail_fire_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,232},{74,70}}</string>
                <key>offset</key>
                <string>{13,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,27},{74,70}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>hall_btn_anim_mail_fire_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{74,70}}</string>
                <key>offset</key>
                <string>{13,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,26},{74,70}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>hall_btn_anim_mail_fire_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,160},{76,70}}</string>
                <key>offset</key>
                <string>{13,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,26},{76,70}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>hall_btn_anim_mail_fire_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,82},{74,76}}</string>
                <key>offset</key>
                <string>{13,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,22},{74,76}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>hall_btn_anim_mail_fire_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,96},{78,76}}</string>
                <key>offset</key>
                <string>{17,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,21},{78,76}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>hall_btn_anim_mail_fire_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,79},{78,76}}</string>
                <key>offset</key>
                <string>{18,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,23},{78,76}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>hall_btn_anim_mail_fire_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{76,74}}</string>
                <key>offset</key>
                <string>{16,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,24},{76,74}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>hall_btn_anim_mail_wheel.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,304},{22,22}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{22,22}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hall_btn_anim_mail.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:86ebef5467680ce2afbf51c295610553:1/1$</string>
            <key>textureFileName</key>
            <string>hall_btn_anim_mail.png</string>
        </dict>
    </dict>
</plist>
