<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>game_tips_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1750,0},{210,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,38}</string>
			</dict>
			<key>game_tips_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1286,604},{234,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{234,46}</string>
			</dict>
			<key>game_nooutcard.png</key>
			<dict>
				<key>frame</key>
				<string>{{1454,0},{88,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{88,46}</string>
			</dict>
			<key>game_tips_callscore0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1520,0},{88,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,56}</string>
			</dict>
			<key>txt_ready.png</key>
			<dict>
				<key>frame</key>
				<string>{{1960,0},{112,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,56}</string>
			</dict>
			<key>gameend_0_pic.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,698},{875,302}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{875,302}</string>
			</dict>
			<key>gameend_1_pic.png</key>
			<dict>
				<key>frame</key>
				<string>{{510,0},{875,302}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{875,302}</string>
			</dict>
			<key>gameend_2_pic.png</key>
			<dict>
				<key>frame</key>
				<string>{{510,302},{875,302}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{875,302}</string>
			</dict>
			<key>gameend_3_pic.png</key>
			<dict>
				<key>frame</key>
				<string>{{875,686},{875,302}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{875,302}</string>
			</dict>
			<key>gameend_again0.png</key>
			<dict>
				<key>frame</key>
				<string>{{510,604},{194,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{194,82}</string>
			</dict>
			<key>gameend_again1.png</key>
			<dict>
				<key>frame</key>
				<string>{{704,604},{194,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{194,82}</string>
			</dict>
			<key>gameend_background.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{698,510}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{698,510}</string>
			</dict>
			<key>gameend_quit0.png</key>
			<dict>
				<key>frame</key>
				<string>{{898,604},{194,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{194,82}</string>
			</dict>
			<key>gameend_quit1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1092,604},{194,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{194,82}</string>
			</dict>
			<key>bt_close_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1385,66},{45,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{45,46}</string>
			</dict>
			<key>bt_close_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1608,0},{45,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{45,46}</string>
			</dict>
			<key>game_gold.png</key>
			<dict>
				<key>frame</key>
				<string>{{1385,0},{69,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,66}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>gameRes.png</string>
			<key>realTextureFileName</key>
			<string>gameRes.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>