<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_clock.png</key>
            <dict>
                <key>frame</key>
                <string>{{1023,1270},{104,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,114}}</string>
                <key>sourceSize</key>
                <string>{104,114}</string>
            </dict>
            <key>bg_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{949,490}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{949,490}}</string>
                <key>sourceSize</key>
                <string>{955,496}</string>
            </dict>
            <key>btn_ready_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,1775},{236,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,83}}</string>
                <key>sourceSize</key>
                <string>{236,83}</string>
            </dict>
            <key>btn_ready_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,1775},{236,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,83}}</string>
                <key>sourceSize</key>
                <string>{236,83}</string>
            </dict>
            <key>chag_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1766,280},{374,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{374,53}}</string>
                <key>sourceSize</key>
                <string>{374,53}</string>
            </dict>
            <key>chat_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1276},{551,362}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{551,362}}</string>
                <key>sourceSize</key>
                <string>{551,362}</string>
            </dict>
            <key>chat_brow_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1055,1954},{139,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,56}}</string>
                <key>sourceSize</key>
                <string>{139,56}</string>
            </dict>
            <key>chat_brow_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,1622},{139,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,56}}</string>
                <key>sourceSize</key>
                <string>{139,56}</string>
            </dict>
            <key>chat_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,760},{29,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,28}}</string>
                <key>sourceSize</key>
                <string>{29,28}</string>
            </dict>
            <key>chat_his.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,1276},{534,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{534,222}}</string>
                <key>sourceSize</key>
                <string>{534,222}</string>
            </dict>
            <key>chat_record_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,1622},{139,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,56}}</string>
                <key>sourceSize</key>
                <string>{139,56}</string>
            </dict>
            <key>chat_record_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,1958},{139,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,56}}</string>
                <key>sourceSize</key>
                <string>{139,56}</string>
            </dict>
            <key>chat_send.png</key>
            <dict>
                <key>frame</key>
                <string>{{1221,572},{151,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,53}}</string>
                <key>sourceSize</key>
                <string>{151,53}</string>
            </dict>
            <key>chat_texts_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,1958},{139,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,56}}</string>
                <key>sourceSize</key>
                <string>{139,56}</string>
            </dict>
            <key>chat_texts_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,1622},{139,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,56}}</string>
                <key>sourceSize</key>
                <string>{139,56}</string>
            </dict>
            <key>face_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,544},{484,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{484,196}}</string>
                <key>sourceSize</key>
                <string>{484,196}</string>
            </dict>
            <key>game_bt_out.png</key>
            <dict>
                <key>frame</key>
                <string>{{1035,755},{194,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,82}}</string>
                <key>sourceSize</key>
                <string>{194,82}</string>
            </dict>
            <key>game_bt_pass.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,1026},{194,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,82}}</string>
                <key>sourceSize</key>
                <string>{194,82}</string>
            </dict>
            <key>game_bt_score_one.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,755},{194,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,82}}</string>
                <key>sourceSize</key>
                <string>{194,82}</string>
            </dict>
            <key>game_bt_score_pass.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,1034},{194,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,82}}</string>
                <key>sourceSize</key>
                <string>{194,82}</string>
            </dict>
            <key>game_bt_score_three.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,1034},{194,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,82}}</string>
                <key>sourceSize</key>
                <string>{194,82}</string>
            </dict>
            <key>game_bt_score_two.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,1050},{194,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,82}}</string>
                <key>sourceSize</key>
                <string>{194,82}</string>
            </dict>
            <key>game_bt_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,1816},{194,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,82}}</string>
                <key>sourceSize</key>
                <string>{194,82}</string>
            </dict>
            <key>game_cellScoreIMG.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,1226},{81,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{81,38}}</string>
                <key>sourceSize</key>
                <string>{83,38}</string>
            </dict>
            <key>game_chat_0.9.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,572},{174,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,44}}</string>
                <key>sourceSize</key>
                <string>{174,44}</string>
            </dict>
            <key>game_chat_1.9.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,572},{174,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,44}}</string>
                <key>sourceSize</key>
                <string>{174,44}</string>
            </dict>
            <key>game_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,955},{65,62}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{65,62}}</string>
                <key>sourceSize</key>
                <string>{69,66}</string>
            </dict>
            <key>game_nooutcard.png</key>
            <dict>
                <key>frame</key>
                <string>{{1047,572},{80,46}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{80,46}}</string>
                <key>sourceSize</key>
                <string>{88,46}</string>
            </dict>
            <key>game_robot-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,1276},{340,324}}</string>
                <key>offset</key>
                <string>{13,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,16},{340,324}}</string>
                <key>sourceSize</key>
                <string>{366,340}</string>
            </dict>
            <key>game_role01.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1833},{194,180}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{194,180}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>game_role02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1099,572},{116,164}}</string>
                <key>offset</key>
                <string>{-34,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,16},{116,164}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>game_role11.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,1767},{149,181}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{149,181}}</string>
                <key>sourceSize</key>
                <string>{169,189}</string>
            </dict>
            <key>game_role12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1123,755},{139,189}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{139,189}}</string>
                <key>sourceSize</key>
                <string>{169,189}</string>
            </dict>
            <key>game_role21.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,1771},{149,181}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{149,181}}</string>
                <key>sourceSize</key>
                <string>{169,189}</string>
            </dict>
            <key>game_role22.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,1622},{143,189}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{143,189}}</string>
                <key>sourceSize</key>
                <string>{169,189}</string>
            </dict>
            <key>game_tips_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,500},{208,38}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{208,38}}</string>
                <key>sourceSize</key>
                <string>{210,38}</string>
            </dict>
            <key>game_tips_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,1816},{222,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,3},{222,40}}</string>
                <key>sourceSize</key>
                <string>{234,46}</string>
            </dict>
            <key>game_tips_callscore0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1047,660},{80,46}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,7},{80,46}}</string>
                <key>sourceSize</key>
                <string>{88,56}</string>
            </dict>
            <key>game_topMenu.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,1276},{493,87}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{493,87}}</string>
                <key>sourceSize</key>
                <string>{493,89}</string>
            </dict>
            <key>gameend_0_pic.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,280},{801,286}}</string>
                <key>offset</key>
                <string>{37,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,8},{801,286}}</string>
                <key>sourceSize</key>
                <string>{875,302}</string>
            </dict>
            <key>gameend_1_pic.png</key>
            <dict>
                <key>frame</key>
                <string>{{1826,4},{745,218}}</string>
                <key>offset</key>
                <string>{37,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,41},{745,218}}</string>
                <key>sourceSize</key>
                <string>{875,302}</string>
            </dict>
            <key>gameend_2_pic.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,4},{861,270}}</string>
                <key>offset</key>
                <string>{7,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,9},{861,270}}</string>
                <key>sourceSize</key>
                <string>{875,302}</string>
            </dict>
            <key>gameend_3_pic.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,500},{735,254}}</string>
                <key>offset</key>
                <string>{42,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,24},{735,254}}</string>
                <key>sourceSize</key>
                <string>{875,302}</string>
            </dict>
            <key>gameend_again0.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,1816},{194,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,82}}</string>
                <key>sourceSize</key>
                <string>{194,82}</string>
            </dict>
            <key>gameend_again1.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,1833},{194,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,82}}</string>
                <key>sourceSize</key>
                <string>{194,82}</string>
            </dict>
            <key>gameend_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,760},{698,510}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{698,510}}</string>
                <key>sourceSize</key>
                <string>{698,510}</string>
            </dict>
            <key>gameend_quit0.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,1833},{194,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,82}}</string>
                <key>sourceSize</key>
                <string>{194,82}</string>
            </dict>
            <key>gameend_quit1.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,1833},{194,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,82}}</string>
                <key>sourceSize</key>
                <string>{194,82}</string>
            </dict>
            <key>player_gender_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,1018},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>player_gender_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,986},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>player_id.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,954},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>player_lost.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,922},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>player_money.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,890},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>player_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,858},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>player_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,826},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>player_winning.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,794},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>role_head_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1015,955},{116,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,60}}</string>
                <key>sourceSize</key>
                <string>{116,60}</string>
            </dict>
            <key>roomlist_head_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1023,1500},{93,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,95}}</string>
                <key>sourceSize</key>
                <string>{93,95}</string>
            </dict>
            <key>txt_ready.png</key>
            <dict>
                <key>frame</key>
                <string>{{1023,1390},{104,56}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{104,56}}</string>
                <key>sourceSize</key>
                <string>{112,56}</string>
            </dict>
            <key>xgmm_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,2033},{7,336}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{7,336}}</string>
                <key>sourceSize</key>
                <string>{7,340}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:592dfe2f4bef98ad10539aa3494ac8f4$</string>
            <key>textureFileName</key>
            <string>game.png</string>
        </dict>
    </dict>
</plist>
