<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bet_button_di.png</key>
			<dict>
				<key>frame</key>
				<string>{{1678,2},{225,302}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{225,302}</string>
			</dict>
			<key>bet_button_huang.png</key>
			<dict>
				<key>frame</key>
				<string>{{1072,2},{249,299}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{249,299}</string>
			</dict>
			<key>bet_button_tian.png</key>
			<dict>
				<key>frame</key>
				<string>{{1375,2},{249,299}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{249,299}</string>
			</dict>
			<key>bet_button_xuan.png</key>
			<dict>
				<key>frame</key>
				<string>{{1678,231},{225,302}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{225,302}</string>
			</dict>
			<key>brnn_btn_info.png</key>
			<dict>
				<key>frame</key>
				<string>{{1070,877},{69,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,69}</string>
			</dict>
			<key>brnn_btn_mumber.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,280},{102,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,102}</string>
			</dict>
			<key>dikuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,694},{1333,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1333,106}</string>
			</dict>
			<key>dnhundreds_chip_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{873,341},{92,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,92}</string>
			</dict>
			<key>dnhundreds_chip_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{289,360},{93,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{93,92}</string>
			</dict>
			<key>dnhundreds_chip_100.png</key>
			<dict>
				<key>frame</key>
				<string>{{295,255},{93,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{93,92}</string>
			</dict>
			<key>dnhundreds_chip_50.png</key>
			<dict>
				<key>frame</key>
				<string>{{297,149},{93,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{93,92}</string>
			</dict>
			<key>dnhundreds_chip_500.png</key>
			<dict>
				<key>frame</key>
				<string>{{391,246},{93,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{93,92}</string>
			</dict>
			<key>hundreds_table_regar_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{191,149},{102,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,102}</string>
			</dict>
			<key>kuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{179,895},{177,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{177,36}</string>
			</dict>
			<key>nn_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1952,694},{290,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{290,69}</string>
			</dict>
			<key>nn_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{39,950},{290,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{290,69}</string>
			</dict>
			<key>nn_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,804},{290,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{290,69}</string>
			</dict>
			<key>nn_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{296,804},{290,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{290,69}</string>
			</dict>
			<key>nn_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,950},{290,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{290,69}</string>
			</dict>
			<key>nn_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{360,877},{290,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{290,69}</string>
			</dict>
			<key>nn_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{590,804},{290,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{290,69}</string>
			</dict>
			<key>nn_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{627,950},{290,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{290,69}</string>
			</dict>
			<key>nn_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{654,877},{290,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{290,69}</string>
			</dict>
			<key>nn_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{884,804},{290,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{290,69}</string>
			</dict>
			<key>nn_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1312,950},{290,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{290,69}</string>
			</dict>
			<key>nn_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,460},{290,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{290,69}</string>
			</dict>
			<key>nn_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,533},{290,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{290,69}</string>
			</dict>
			<key>nn_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,606},{290,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{290,69}</string>
			</dict>
			<key>num_time.png</key>
			<dict>
				<key>frame</key>
				<string>{{1984,2},{410,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{410,52}</string>
			</dict>
			<key>score_di.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,895},{173,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{173,43}</string>
			</dict>
			<key>top.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{1066,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1066,143}</string>
			</dict>
			<key>touxiang.png</key>
			<dict>
				<key>frame</key>
				<string>{{191,255},{100,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,101}</string>
			</dict>
			<key>touxiang1.png</key>
			<dict>
				<key>frame</key>
				<string>{{191,360},{94,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,95}</string>
			</dict>
			<key>trend_icon_new.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,988},{33,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,33}</string>
			</dict>
			<key>txt_time_free.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,149},{270,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{270,54}</string>
			</dict>
			<key>txwk.png</key>
			<dict>
				<key>frame</key>
				<string>{{1606,895},{127,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,127}</string>
			</dict>
			<key>wysz.png</key>
			<dict>
				<key>frame</key>
				<string>{{1178,804},{203,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{203,90}</string>
			</dict>
			<key>zzkp.png</key>
			<dict>
				<key>frame</key>
				<string>{{921,950},{226,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{226,54}</string>
			</dict>
			<key>zzxz.png</key>
			<dict>
				<key>frame</key>
				<string>{{1984,416},{274,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{274,54}</string>
			</dict>
			<key>ksxz.png</key>
			<dict>
				<key>frame</key>
				<string>{{1339,694},{408,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{408,97}</string>
			</dict>
			<key>tzxz.png</key>
			<dict>
				<key>frame</key>
				<string>{{1339,795},{405,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{405,96}</string>
			</dict>
			<key>jia.png</key>
			<dict>
				<key>frame</key>
				<string>{{1551,895},{44,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,44}</string>
			</dict>
			<key>jinbi_k.png</key>
			<dict>
				<key>frame</key>
				<string>{{1272,804},{177,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{177,36}</string>
			</dict>
			<key>txkd.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,149},{127,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,127}</string>
			</dict>
			<key>bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1751,694},{162,197}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{162,197}</string>
			</dict>
			<key>fh.png</key>
			<dict>
				<key>frame</key>
				<string>{{1312,895},{116,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,45}</string>
			</dict>
			<key>jt1.png</key>
			<dict>
				<key>frame</key>
				<string>{{679,342},{75,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,76}</string>
			</dict>
			<key>jt2.png</key>
			<dict>
				<key>frame</key>
				<string>{{759,342},{75,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,76}</string>
			</dict>
			<key>sm.png</key>
			<dict>
				<key>frame</key>
				<string>{{1432,895},{115,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,40}</string>
			</dict>
			<key>sz.png</key>
			<dict>
				<key>frame</key>
				<string>{{948,877},{118,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,45}</string>
			</dict>
			<key>dnhundreds_chip_1000.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,149},{93,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{93,92}</string>
			</dict>
			<key>dnhundreds_chip_10000.png</key>
			<dict>
				<key>frame</key>
				<string>{{487,246},{93,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{93,92}</string>
			</dict>
			<key>dnhundreds_chip_10000h.png</key>
			<dict>
				<key>frame</key>
				<string>{{489,149},{93,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{93,92}</string>
			</dict>
			<key>dnhundreds_chip_1000h.png</key>
			<dict>
				<key>frame</key>
				<string>{{583,246},{93,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{93,92}</string>
			</dict>
			<key>dnhundreds_chip_100h.png</key>
			<dict>
				<key>frame</key>
				<string>{{585,149},{93,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{93,92}</string>
			</dict>
			<key>dnhundreds_chip_10h.png</key>
			<dict>
				<key>frame</key>
				<string>{{679,246},{93,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,92}</string>
			</dict>
			<key>dnhundreds_chip_1h.png</key>
			<dict>
				<key>frame</key>
				<string>{{969,341},{92,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,92}</string>
			</dict>
			<key>dnhundreds_chip_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{681,149},{93,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{93,92}</string>
			</dict>
			<key>dnhundreds_chip_5000.png</key>
			<dict>
				<key>frame</key>
				<string>{{776,246},{93,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,92}</string>
			</dict>
			<key>dnhundreds_chip_50000.png</key>
			<dict>
				<key>frame</key>
				<string>{{777,149},{93,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{93,92}</string>
			</dict>
			<key>dnhundreds_chip_50000h.png</key>
			<dict>
				<key>frame</key>
				<string>{{873,149},{93,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,92}</string>
			</dict>
			<key>dnhundreds_chip_5000h.png</key>
			<dict>
				<key>frame</key>
				<string>{{970,149},{93,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,92}</string>
			</dict>
			<key>dnhundreds_chip_500h.png</key>
			<dict>
				<key>frame</key>
				<string>{{873,245},{93,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,92}</string>
			</dict>
			<key>dnhundreds_chip_50h.png</key>
			<dict>
				<key>frame</key>
				<string>{{970,245},{93,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,92}</string>
			</dict>
			<key>dnhundreds_chip_5h.png</key>
			<dict>
				<key>frame</key>
				<string>{{1067,255},{93,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{93,92}</string>
			</dict>
			<key>zdcm.png</key>
			<dict>
				<key>frame</key>
				<string>{{1748,860},{195,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{195,86}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>hundreds_table_main.png</string>
			<key>realTextureFileName</key>
			<string>hundreds_table_main.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>