<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bigtag_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,278},{72,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,66}</string>
			</dict>
			<key>bigtag_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{132,285},{72,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,66}</string>
			</dict>
			<key>bigtag_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{419,344},{72,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,66}</string>
			</dict>
			<key>bigtag_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{414,410},{72,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,66}</string>
			</dict>
			<key>bigtag_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{213,150},{104,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,159}</string>
			</dict>
			<key>bigtag_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,153},{104,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,159}</string>
			</dict>
			<key>bigtag_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,254},{102,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,93}</string>
			</dict>
			<key>black_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{372,150},{51,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,66}</string>
			</dict>
			<key>black_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{372,216},{51,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,66}</string>
			</dict>
			<key>black_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{159,153},{51,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,66}</string>
			</dict>
			<key>black_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{159,219},{51,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,66}</string>
			</dict>
			<key>black_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{368,282},{51,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,66}</string>
			</dict>
			<key>black_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{312,322},{51,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,66}</string>
			</dict>
			<key>black_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,348},{51,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,66}</string>
			</dict>
			<key>black_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{310,388},{51,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,66}</string>
			</dict>
			<key>black_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{361,414},{51,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,66}</string>
			</dict>
			<key>black_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,413},{51,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,66}</string>
			</dict>
			<key>black_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{308,454},{51,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,66}</string>
			</dict>
			<key>black_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{412,476},{51,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,66}</string>
			</dict>
			<key>black_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{204,347},{68,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,66}</string>
			</dict>
			<key>dizhutag.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,0},{101,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{101,83}</string>
			</dict>
			<key>gaoguang.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,257},{132,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,115}</string>
			</dict>
			<key>orange_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{466,626},{46,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,48}</string>
			</dict>
			<key>orange_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,497},{34,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,48}</string>
			</dict>
			<key>orange_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,474},{32,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,48}</string>
			</dict>
			<key>orange_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{266,445},{42,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,52}</string>
			</dict>
			<key>orange_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,612},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>orange_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{478,476},{34,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,50}</string>
			</dict>
			<key>orange_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{272,347},{38,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,48}</string>
			</dict>
			<key>orange_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{255,545},{34,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,48}</string>
			</dict>
			<key>orange_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{478,526},{34,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,50}</string>
			</dict>
			<key>orange_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,629},{34,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{34,48}</string>
			</dict>
			<key>orange_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{272,395},{36,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,50}</string>
			</dict>
			<key>orange_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{476,576},{34,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,50}</string>
			</dict>
			<key>orange_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{289,586},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>poker_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{213,0},{150,210}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,210}</string>
			</dict>
			<key>poker_mask_scale9.png</key>
			<dict>
				<key>frame</key>
				<string>{{198,515},{57,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,54}</string>
			</dict>
			<key>poker_small_flower.png</key>
			<dict>
				<key>frame</key>
				<string>{{48,474},{32,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>
			<key>poker_small_heart.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,474},{32,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>
			<key>poker_small_peach.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,506},{32,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>
			<key>poker_small_shape.png</key>
			<dict>
				<key>frame</key>
				<string>{{33,506},{32,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>
			<key>red_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{359,480},{51,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,66}</string>
			</dict>
			<key>red_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,527},{51,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,66}</string>
			</dict>
			<key>red_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,372},{51,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,66}</string>
			</dict>
			<key>red_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{66,372},{51,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,66}</string>
			</dict>
			<key>red_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{132,417},{51,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,66}</string>
			</dict>
			<key>red_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{198,464},{51,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,66}</string>
			</dict>
			<key>red_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{298,520},{51,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,66}</string>
			</dict>
			<key>red_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{349,546},{51,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,66}</string>
			</dict>
			<key>red_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{400,578},{51,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,66}</string>
			</dict>
			<key>red_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,423},{51,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,66}</string>
			</dict>
			<key>red_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{66,423},{51,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,66}</string>
			</dict>
			<key>red_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{132,468},{51,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,66}</string>
			</dict>
			<key>red_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{132,351},{68,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,66}</string>
			</dict>
			<key>small_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{312,254},{56,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,68}</string>
			</dict>
			<key>smalltag_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,101},{33,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,177}</string>
			</dict>
			<key>smalltag_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{456,101},{33,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,177}</string>
			</dict>
			<key>bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{153,213}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{153,213}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>poker.png</string>
			<key>realTextureFileName</key>
			<string>poker.png</string>
			<key>size</key>
			<string>{512,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>