<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>longhudou_kaijiang01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{444,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{444,213}}</string>
                <key>sourceSize</key>
                <string>{444,213}</string>
            </dict>
            <key>longhudou_kaijiang012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,217},{387,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{387,282}}</string>
                <key>sourceSize</key>
                <string>{387,282}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>longhudou_vs.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:68dbee5651e56f59457ad62bd0a262af:1/1$</string>
            <key>textureFileName</key>
            <string>longhudou_vs.png</string>
        </dict>
    </dict>
</plist>
