<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>h3card_player_bg_zone.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,385},{125,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,27}}</string>
                <key>sourceSize</key>
                <string>{125,27}</string>
            </dict>
            <key>longhudou_player_20round.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,390},{82,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,26}}</string>
                <key>sourceSize</key>
                <string>{82,26}</string>
            </dict>
            <key>longhudou_player_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{213,70}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{213,70}}</string>
                <key>sourceSize</key>
                <string>{217,72}</string>
            </dict>
            <key>longhudou_player_dibianxinxi.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,74},{162,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{162,31}}</string>
                <key>sourceSize</key>
                <string>{164,33}</string>
            </dict>
            <key>longhudou_player_fuhao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,385},{122,41}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,41}}</string>
                <key>sourceSize</key>
                <string>{126,41}</string>
            </dict>
            <key>longhudou_player_fuhao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,342},{126,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,41}}</string>
                <key>sourceSize</key>
                <string>{126,41}</string>
            </dict>
            <key>longhudou_player_fuhao3.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,262},{126,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,41}}</string>
                <key>sourceSize</key>
                <string>{126,41}</string>
            </dict>
            <key>longhudou_player_fuhaokuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{179,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,119}}</string>
                <key>sourceSize</key>
                <string>{179,119}</string>
            </dict>
            <key>longhudou_player_jiaobiao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,221},{34,31}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{34,31}}</string>
                <key>sourceSize</key>
                <string>{36,33}</string>
            </dict>
            <key>longhudou_player_jiaobiao3.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,229},{34,31}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{34,31}}</string>
                <key>sourceSize</key>
                <string>{36,33}</string>
            </dict>
            <key>longhudou_player_jiaobiao4.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,196},{34,31}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{34,31}}</string>
                <key>sourceSize</key>
                <string>{36,33}</string>
            </dict>
            <key>longhudou_player_jiaobiao5.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,68},{34,31}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{34,31}}</string>
                <key>sourceSize</key>
                <string>{36,33}</string>
            </dict>
            <key>longhudou_player_jiaobiao6.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,35},{34,31}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{34,31}}</string>
                <key>sourceSize</key>
                <string>{36,33}</string>
            </dict>
            <key>longhudou_player_jiaobiao7.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,2},{34,31}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{34,31}}</string>
                <key>sourceSize</key>
                <string>{36,33}</string>
            </dict>
            <key>longhudou_player_luck.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,101},{93,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,38}}</string>
                <key>sourceSize</key>
                <string>{93,38}</string>
            </dict>
            <key>longhudou_player_luckkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,221},{141,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,119}}</string>
                <key>sourceSize</key>
                <string>{141,119}</string>
            </dict>
            <key>longhudou_player_qitawanjia.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,254},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>longhudou_player_touxiangkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,390},{78,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,99}}</string>
                <key>sourceSize</key>
                <string>{78,99}</string>
            </dict>
            <key>longhudou_player_zijixiazhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,195},{173,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,24}}</string>
                <key>sourceSize</key>
                <string>{173,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>longhudou_player.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:99a813a88b4ffb78a535e8a59de31f27:1/1$</string>
            <key>textureFileName</key>
            <string>longhudou_player.png</string>
        </dict>
    </dict>
</plist>
