<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>longhudou_common_2G.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,320},{24,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{24,13}}</string>
                <key>sourceSize</key>
                <string>{24,19}</string>
            </dict>
            <key>longhudou_common_3G.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,305},{24,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{24,13}}</string>
                <key>sourceSize</key>
                <string>{24,19}</string>
            </dict>
            <key>longhudou_common_4G.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,290},{24,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{24,13}}</string>
                <key>sourceSize</key>
                <string>{24,19}</string>
            </dict>
            <key>longhudou_common_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,290},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>longhudou_common_battery_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,282},{37,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,19}}</string>
                <key>sourceSize</key>
                <string>{37,19}</string>
            </dict>
            <key>longhudou_common_battery_bg0.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,282},{37,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,19}}</string>
                <key>sourceSize</key>
                <string>{37,19}</string>
            </dict>
            <key>longhudou_common_battery_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,261},{37,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,19}}</string>
                <key>sourceSize</key>
                <string>{37,19}</string>
            </dict>
            <key>longhudou_common_battery_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,300},{37,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,19}}</string>
                <key>sourceSize</key>
                <string>{37,19}</string>
            </dict>
            <key>longhudou_common_battery_bg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,279},{37,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,19}}</string>
                <key>sourceSize</key>
                <string>{37,19}</string>
            </dict>
            <key>longhudou_common_battery_bg4.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,183},{30,15}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{30,15}}</string>
                <key>sourceSize</key>
                <string>{32,17}</string>
            </dict>
            <key>longhudou_common_battery_content.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,114},{22,9}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{22,9}}</string>
                <key>sourceSize</key>
                <string>{32,17}</string>
            </dict>
            <key>longhudou_common_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,257},{119,58}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,58}}</string>
                <key>sourceSize</key>
                <string>{121,58}</string>
            </dict>
            <key>longhudou_common_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,132},{121,63}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{121,63}}</string>
                <key>sourceSize</key>
                <string>{125,65}</string>
            </dict>
            <key>longhudou_common_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,132},{121,63}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{121,63}}</string>
                <key>sourceSize</key>
                <string>{125,65}</string>
            </dict>
            <key>longhudou_common_btn3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,179},{121,63}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{121,63}}</string>
                <key>sourceSize</key>
                <string>{125,65}</string>
            </dict>
            <key>longhudou_common_btn4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{121,63}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{121,63}}</string>
                <key>sourceSize</key>
                <string>{125,65}</string>
            </dict>
            <key>longhudou_common_btn5.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,67},{121,63}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{121,63}}</string>
                <key>sourceSize</key>
                <string>{125,65}</string>
            </dict>
            <key>longhudou_common_btn_return.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,202},{93,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,86}}</string>
                <key>sourceSize</key>
                <string>{93,86}</string>
            </dict>
            <key>longhudou_common_btn_xuya.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{120,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,62}}</string>
                <key>sourceSize</key>
                <string>{120,62}</string>
            </dict>
            <key>longhudou_common_btn_xuya1.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,197},{120,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,62}}</string>
                <key>sourceSize</key>
                <string>{120,62}</string>
            </dict>
            <key>longhudou_common_btnbukexuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,2},{121,63}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{121,63}}</string>
                <key>sourceSize</key>
                <string>{125,65}</string>
            </dict>
            <key>longhudou_common_btnhelpdown.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,114},{93,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,86}}</string>
                <key>sourceSize</key>
                <string>{93,86}</string>
            </dict>
            <key>longhudou_common_btnhelpnormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,114},{93,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,86}}</string>
                <key>sourceSize</key>
                <string>{93,86}</string>
            </dict>
            <key>longhudou_common_btnxuanzhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,197},{119,58}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,58}}</string>
                <key>sourceSize</key>
                <string>{121,58}</string>
            </dict>
            <key>longhudou_common_chouma.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,337},{34,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,35}}</string>
                <key>sourceSize</key>
                <string>{34,35}</string>
            </dict>
            <key>longhudou_common_closenormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,337},{63,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,62}}</string>
                <key>sourceSize</key>
                <string>{63,62}</string>
            </dict>
            <key>longhudou_common_closeselected.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,337},{63,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,62}}</string>
                <key>sourceSize</key>
                <string>{63,62}</string>
            </dict>
            <key>longhudou_common_fanpai_huoshengpaixing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{227,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,110}}</string>
                <key>sourceSize</key>
                <string>{227,110}</string>
            </dict>
            <key>longhudou_common_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,2},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>longhudou_common_head_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,261},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{74,74}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>longhudou_common_icongold.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,401},{28,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,29}}</string>
                <key>sourceSize</key>
                <string>{28,29}</string>
            </dict>
            <key>longhudou_common_jiaobiaoluck.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,303},{36,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,34}}</string>
                <key>sourceSize</key>
                <string>{36,34}</string>
            </dict>
            <key>longhudou_common_kongxuankuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,150},{32,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,31}}</string>
                <key>sourceSize</key>
                <string>{32,31}</string>
            </dict>
            <key>longhudou_common_kongxuankuang_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,240},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>longhudou_common_tmp.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,183},{1,1}}</string>
                <key>offset</key>
                <string>{-7.5,7.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>longhudou_common_wifi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,113},{35,24}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{35,24}}</string>
                <key>sourceSize</key>
                <string>{37,30}</string>
            </dict>
            <key>longhudou_common_wifi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,76},{35,24}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{35,24}}</string>
                <key>sourceSize</key>
                <string>{37,30}</string>
            </dict>
            <key>longhudou_common_wifi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,39},{35,24}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{35,24}}</string>
                <key>sourceSize</key>
                <string>{37,30}</string>
            </dict>
            <key>longhudou_common_wifi4.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{35,24}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{35,24}}</string>
                <key>sourceSize</key>
                <string>{37,30}</string>
            </dict>
            <key>longhudou_common_xuanzhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,200},{39,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,38}}</string>
                <key>sourceSize</key>
                <string>{39,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>longhudou_common.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:32c98832d479dd162af3e07edb521ad3:1/1$</string>
            <key>textureFileName</key>
            <string>longhudou_common.png</string>
        </dict>
    </dict>
</plist>
