<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>btn_more.png</key>
			<dict>
				<key>frame</key>
				<string>{{122,874},{116,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,113}</string>
			</dict>
			<key>bt_callBanker_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{518,231},{168,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,85}</string>
			</dict>
			<key>bt_cancel_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{518,320},{168,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,85}</string>
			</dict>
			<key>bt_chat_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{367,550},{116,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,114}</string>
			</dict>
			<key>bt_chat_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{917,212},{100,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,98}</string>
			</dict>
			<key>bt_chip_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{685,873},{145,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{145,64}</string>
			</dict>
			<key>bt_chip_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{834,902},{145,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{145,64}</string>
			</dict>
			<key>bt_exitSetLayer_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{335,993},{85,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,83}</string>
			</dict>
			<key>bt_exitSetLayer_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{426,918},{85,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,85}</string>
			</dict>
			<key>bt_exit_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{350,668},{116,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,114}</string>
			</dict>
			<key>bt_exit_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{917,314},{100,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,98}</string>
			</dict>
			<key>bt_howPlay_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{195,756},{116,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,114}</string>
			</dict>
			<key>bt_howPlay_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{909,525},{100,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,98}</string>
			</dict>
			<key>bt_off_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{858,831},{139,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{139,67}</string>
			</dict>
			<key>bt_off_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{487,633},{149,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{149,89}</string>
			</dict>
			<key>bt_on_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{669,941},{137,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,67}</string>
			</dict>
			<key>bt_on_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{195,663},{151,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{151,89}</string>
			</dict>
			<key>bt_prompt_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{685,737},{169,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{169,64}</string>
			</dict>
			<key>bt_set_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,815},{116,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,114}</string>
			</dict>
			<key>bt_set_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{909,627},{100,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,98}</string>
			</dict>
			<key>bt_showCard_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{685,805},{169,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{169,64}</string>
			</dict>
			<key>bt_soundOff_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{590,726},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>bt_soundOff_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{335,904},{87,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,85}</string>
			</dict>
			<key>bt_sound_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{590,821},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>bt_sound_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{106,991},{87,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,85}</string>
			</dict>
			<key>bt_start_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{195,574},{168,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,85}</string>
			</dict>
			<key>bt_switch_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{470,726},{116,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,114}</string>
			</dict>
			<key>bt_switch_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{909,729},{100,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,98}</string>
			</dict>
			<key>bt_takeBack_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{574,916},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>bt_takeBack_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1035},{87,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,85}</string>
			</dict>
			<key>bt_trustee_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{315,786},{116,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,114}</string>
			</dict>
			<key>bt_trustee_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,933},{100,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,98}</string>
			</dict>
			<key>cardFrame_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{316,2},{155,211}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{155,211}</string>
			</dict>
			<key>cardFrame_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{129,2},{183,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{183,235}</string>
			</dict>
			<key>game_chat_lbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{504,409},{180,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,108}</string>
			</dict>
			<key>game_chat_rbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{504,521},{180,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,108}</string>
			</dict>
			<key>oxnew_frameTop.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,904},{89,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,89}</string>
			</dict>
			<key>ox_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{197,997},{92,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,60}</string>
			</dict>
			<key>ox_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{475,126},{217,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{217,101}</string>
			</dict>
			<key>ox_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{738,2},{217,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{217,101}</string>
			</dict>
			<key>ox_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{738,107},{217,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{217,101}</string>
			</dict>
			<key>ox_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{696,212},{217,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{217,101}</string>
			</dict>
			<key>ox_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{690,317},{217,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{217,101}</string>
			</dict>
			<key>ox_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{283,340},{217,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{217,101}</string>
			</dict>
			<key>ox_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{283,445},{217,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{217,101}</string>
			</dict>
			<key>ox_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{688,422},{217,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{217,101}</string>
			</dict>
			<key>ox_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{688,527},{217,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{217,101}</string>
			</dict>
			<key>ox_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{688,632},{217,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{217,101}</string>
			</dict>
			<key>prompt.png</key>
			<dict>
				<key>frame</key>
				<string>{{129,241},{385,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{385,95}</string>
			</dict>
			<key>score_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,844},{135,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{135,70}</string>
			</dict>
			<key>sprite_clock.png</key>
			<dict>
				<key>frame</key>
				<string>{{911,416},{106,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,105}</string>
			</dict>
			<key>sprite_openCard.png</key>
			<dict>
				<key>frame</key>
				<string>{{93,1080},{97,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,50}</string>
			</dict>
			<key>sprite_prompt.png</key>
			<dict>
				<key>frame</key>
				<string>{{197,1061},{97,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,51}</string>
			</dict>
			<key>sp_buttonBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{123,575}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{123,575}</string>
			</dict>
			<key>symbol_add.png</key>
			<dict>
				<key>frame</key>
				<string>{{164,542},{31,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,28}</string>
			</dict>
			<key>symbol_reduce.png</key>
			<dict>
				<key>frame</key>
				<string>{{316,217},{20,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,15}</string>
			</dict>
			<key>icon_money.png</key>
			<dict>
				<key>frame</key>
				<string>{{129,542},{31,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,31}</string>
			</dict>
			<key>tag_banker.png</key>
			<dict>
				<key>frame</key>
				<string>{{959,2},{41,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,41}</string>
			</dict>
			<key>user_frame.png</key>
			<dict>
				<key>frame</key>
				<string>{{129,340},{150,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,198}</string>
			</dict>
			<key>user_frame_horizontal.png</key>
			<dict>
				<key>frame</key>
				<string>{{475,2},{259,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{259,120}</string>
			</dict>
			<key>user_frame_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,581},{189,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{189,230}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>gameScene_oxnew.png</string>
			<key>realTextureFileName</key>
			<string>gameScene_oxnew.png</string>
			<key>size</key>
			<string>{1024,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>