<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bt_callBanker_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{322,126},{166,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{166,91}</string>
			</dict>
			<key>bt_cancel_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{357,451},{166,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{166,91}</string>
			</dict>
			<key>bt_prompt_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{411,958},{169,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{169,64}</string>
			</dict>
			<key>bt_start_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{129,475},{224,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,81}</string>
			</dict>
			<key>btn_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{408,705},{118,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,39}</string>
			</dict>
			<key>btn_change.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,902},{118,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,39}</string>
			</dict>
			<key>btn_change_unactive.png</key>
			<dict>
				<key>frame</key>
				<string>{{530,705},{118,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,39}</string>
			</dict>
			<key>btn_more.png</key>
			<dict>
				<key>frame</key>
				<string>{{585,2},{116,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{116,113}</string>
			</dict>
			<key>btn_setting.png</key>
			<dict>
				<key>frame</key>
				<string>{{762,902},{118,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,39}</string>
			</dict>
			<key>cardFrame_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{316,236},{155,211}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{155,211}</string>
			</dict>
			<key>cardFrame_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{129,236},{183,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{183,235}</string>
			</dict>
			<key>icon_money.png</key>
			<dict>
				<key>frame</key>
				<string>{{527,498},{31,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,31}</string>
			</dict>
			<key>oxnew_frameTop.png</key>
			<dict>
				<key>frame</key>
				<string>{{686,201},{89,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,89}</string>
			</dict>
			<key>score_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{497,912},{139,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{139,36}</string>
			</dict>
			<key>sp_buttonBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{123,575}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{123,575}</string>
			</dict>
			<key>sprite_openCard.png</key>
			<dict>
				<key>frame</key>
				<string>{{692,122},{113,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,64}</string>
			</dict>
			<key>sprite_prompt.png</key>
			<dict>
				<key>frame</key>
				<string>{{702,2},{113,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{113,64}</string>
			</dict>
			<key>symbol_add.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,657},{31,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{31,28}</string>
			</dict>
			<key>symbol_reduce.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1002},{20,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{20,15}</string>
			</dict>
			<key>tag_setting.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,581},{248,274}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{248,274}</string>
			</dict>
			<key>user_frame.png</key>
			<dict>
				<key>frame</key>
				<string>{{254,560},{150,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,198}</string>
			</dict>
			<key>user_frame_horizontal.png</key>
			<dict>
				<key>frame</key>
				<string>{{322,2},{259,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{259,120}</string>
			</dict>
			<key>user_frame_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{129,2},{189,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{189,230}</string>
			</dict>
			<key>btn1_disable.png</key>
			<dict>
				<key>frame</key>
				<string>{{892,888},{126,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,74}</string>
			</dict>
			<key>btn1_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{931,479},{126,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,74}</string>
			</dict>
			<key>btn1_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{931,609},{126,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,74}</string>
			</dict>
			<key>goon2_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{254,762},{196,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,71}</string>
			</dict>
			<key>goon2_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{344,837},{196,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,71}</string>
			</dict>
			<key>exit1_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{475,221},{196,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{196,71}</string>
			</dict>
			<key>exit1_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{492,126},{196,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,71}</string>
			</dict>
			<key>douniu_btn_yellow.png</key>
			<dict>
				<key>frame</key>
				<string>{{584,952},{145,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{145,56}</string>
			</dict>
			<key>caculator_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,859},{338,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{338,97}</string>
			</dict>
			<key>douniu_bubble_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,960},{405,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{405,38}</string>
			</dict>
			<key>prompt.png</key>
			<dict>
				<key>frame</key>
				<string>{{344,912},{149,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{149,42}</string>
			</dict>
			<key>douniu_poker_type_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{408,546},{155,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{155,73}</string>
			</dict>
			<key>douniu_poker_type_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{454,748},{155,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{155,73}</string>
			</dict>
			<key>douniu_poker_type_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{544,825},{155,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{155,73}</string>
			</dict>
			<key>douniu_poker_type_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{733,945},{155,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{155,73}</string>
			</dict>
			<key>douniu_poker_type_102.png</key>
			<dict>
				<key>frame</key>
				<string>{{485,546},{155,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{155,73}</string>
			</dict>
			<key>douniu_poker_type_103.png</key>
			<dict>
				<key>frame</key>
				<string>{{613,748},{155,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{155,73}</string>
			</dict>
			<key>douniu_poker_type_104.png</key>
			<dict>
				<key>frame</key>
				<string>{{703,825},{155,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{155,73}</string>
			</dict>
			<key>douniu_poker_type_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{527,421},{155,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{155,73}</string>
			</dict>
			<key>douniu_poker_type_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{652,498},{155,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{155,73}</string>
			</dict>
			<key>douniu_poker_type_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,498},{155,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{155,73}</string>
			</dict>
			<key>douniu_poker_type_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{652,657},{155,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{155,73}</string>
			</dict>
			<key>douniu_poker_type_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{772,734},{155,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{155,73}</string>
			</dict>
			<key>douniu_poker_type_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{862,811},{155,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{155,73}</string>
			</dict>
			<key>douniu_poker_type_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{931,2},{155,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{155,73}</string>
			</dict>
			<key>douniu_poker_type_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{931,161},{155,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{155,73}</string>
			</dict>
			<key>douniu_table_card_type_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{931,320},{155,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{155,73}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>gameScene_oxnew.png</string>
			<key>realTextureFileName</key>
			<string>gameScene_oxnew.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>