<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>btn_more.png</key>
			<dict>
				<key>frame</key>
				<string>{{629,231},{116,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,113}</string>
			</dict>
			<key>bt_callBanker_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{254,679},{168,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,85}</string>
			</dict>
			<key>bt_cancel_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{254,768},{168,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,85}</string>
			</dict>
			<key>bt_chip_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,751},{145,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{145,64}</string>
			</dict>
			<key>bt_chip_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,819},{145,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{145,64}</string>
			</dict>
			<key>bt_exitSetLayer_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{518,473},{85,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,83}</string>
			</dict>
			<key>bt_exitSetLayer_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{618,441},{85,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,85}</string>
			</dict>
			<key>bt_off_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{254,857},{139,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{139,67}</string>
			</dict>
			<key>bt_off_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{426,803},{149,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{149,89}</string>
			</dict>
			<key>bt_on_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{579,833},{137,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,67}</string>
			</dict>
			<key>bt_on_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{426,710},{151,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{151,89}</string>
			</dict>
			<key>bt_prompt_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,859},{169,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{169,64}</string>
			</dict>
			<key>bt_showCard_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,927},{169,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{169,64}</string>
			</dict>
			<key>bt_start_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{581,744},{168,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,85}</string>
			</dict>
			<key>cardFrame_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{316,236},{155,211}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{155,211}</string>
			</dict>
			<key>cardFrame_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{129,236},{183,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{183,235}</string>
			</dict>
			<key>game_chat_lbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{806,2},{180,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,108}</string>
			</dict>
			<key>game_chat_rbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{813,639},{180,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,108}</string>
			</dict>
			<key>oxnew_frameTop.png</key>
			<dict>
				<key>frame</key>
				<string>{{629,348},{89,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,89}</string>
			</dict>
			<key>ox_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{607,530},{92,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,60}</string>
			</dict>
			<key>ox_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{322,126},{217,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{217,101}</string>
			</dict>
			<key>ox_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{543,126},{217,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{217,101}</string>
			</dict>
			<key>ox_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{585,2},{217,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{217,101}</string>
			</dict>
			<key>ox_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{764,114},{217,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{217,101}</string>
			</dict>
			<key>ox_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{764,219},{217,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{217,101}</string>
			</dict>
			<key>ox_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{749,324},{217,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{217,101}</string>
			</dict>
			<key>ox_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{722,429},{217,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{217,101}</string>
			</dict>
			<key>ox_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{703,534},{217,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{217,101}</string>
			</dict>
			<key>ox_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{254,574},{217,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{217,101}</string>
			</dict>
			<key>ox_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{592,639},{217,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{217,101}</string>
			</dict>
			<key>prompt.png</key>
			<dict>
				<key>frame</key>
				<string>{{129,475},{385,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{385,95}</string>
			</dict>
			<key>score_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{475,433},{139,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{139,36}</string>
			</dict>
			<key>sprite_openCard.png</key>
			<dict>
				<key>frame</key>
				<string>{{475,574},{113,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,64}</string>
			</dict>
			<key>sprite_prompt.png</key>
			<dict>
				<key>frame</key>
				<string>{{475,642},{113,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,64}</string>
			</dict>
			<key>sp_buttonBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{123,575}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{123,575}</string>
			</dict>
			<key>symbol_add.png</key>
			<dict>
				<key>frame</key>
				<string>{{990,37},{31,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,28}</string>
			</dict>
			<key>symbol_reduce.png</key>
			<dict>
				<key>frame</key>
				<string>{{316,451},{20,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,15}</string>
			</dict>
			<key>icon_money.png</key>
			<dict>
				<key>frame</key>
				<string>{{990,2},{31,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,31}</string>
			</dict>
			<key>user_frame.png</key>
			<dict>
				<key>frame</key>
				<string>{{475,231},{150,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,198}</string>
			</dict>
			<key>user_frame_horizontal.png</key>
			<dict>
				<key>frame</key>
				<string>{{322,2},{259,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{259,120}</string>
			</dict>
			<key>user_frame_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{129,2},{189,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{189,230}</string>
			</dict>
			<key>btn_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{902,751},{118,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,39}</string>
			</dict>
			<key>btn_change.png</key>
			<dict>
				<key>frame</key>
				<string>{{902,794},{118,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,39}</string>
			</dict>
			<key>btn_change_unactive.png</key>
			<dict>
				<key>frame</key>
				<string>{{902,837},{118,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,39}</string>
			</dict>
			<key>btn_setting.png</key>
			<dict>
				<key>frame</key>
				<string>{{902,880},{118,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,39}</string>
			</dict>
			<key>tag_setting.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,581},{248,274}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{248,274}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>gameScene_oxnew.png</string>
			<key>realTextureFileName</key>
			<string>gameScene_oxnew.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>