<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cardtype/newt3animation_cardtype_235.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,1456},{64,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,38}}</string>
                <key>sourceSize</key>
                <string>{64,38}</string>
            </dict>
            <key>cardtype/newt3animation_cardtype_baozi.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,1337},{78,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,46}}</string>
                <key>sourceSize</key>
                <string>{78,46}</string>
            </dict>
            <key>cardtype/newt3animation_cardtype_bjgxx.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,1527},{103,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,137}}</string>
                <key>sourceSize</key>
                <string>{103,137}</string>
            </dict>
            <key>cardtype/newt3animation_cardtype_fangpian.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,1336},{58,64}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{58,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>cardtype/newt3animation_cardtype_heitao.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,1270},{58,64}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{58,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>cardtype/newt3animation_cardtype_hongtao.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,1024},{60,54}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,5},{60,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>cardtype/newt3animation_cardtype_jinhua.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,1171},{83,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,47}}</string>
                <key>sourceSize</key>
                <string>{83,47}</string>
            </dict>
            <key>cardtype/newt3animation_cardtype_lizi256.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,1531},{256,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,128}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>cardtype/newt3animation_cardtype_meihua.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,1208},{60,62}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{60,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>cardtype/newt3animation_cardtype_shunjin.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,1086},{83,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,47}}</string>
                <key>sourceSize</key>
                <string>{83,47}</string>
            </dict>
            <key>cardtype/newt3animation_cardtype_shunzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,1256},{79,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,47}}</string>
                <key>sourceSize</key>
                <string>{79,47}</string>
            </dict>
            <key>cardtype/newt3animation_cardtype_slxx.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,1524},{87,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,74}}</string>
                <key>sourceSize</key>
                <string>{87,74}</string>
            </dict>
            <key>cardtype/newt3animation_cardtype_tg.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,1705},{104,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,152}}</string>
                <key>sourceSize</key>
                <string>{104,152}</string>
            </dict>
            <key>cardtype/newt3animation_cardtype_xingguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,1417},{43,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,37}}</string>
                <key>sourceSize</key>
                <string>{43,37}</string>
            </dict>
            <key>cardtype/newt3animation_cardtype_xiqian.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,1632},{135,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,73}}</string>
                <key>sourceSize</key>
                <string>{135,73}</string>
            </dict>
            <key>cardtype/newt3animation_cardtype_yjlpdb.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,536},{416,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,172}}</string>
                <key>sourceSize</key>
                <string>{416,172}</string>
            </dict>
            <key>cardtype/newt3animation_cardtype_zdbp1.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,424},{145,92}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,2},{145,92}}</string>
                <key>sourceSize</key>
                <string>{155,100}</string>
            </dict>
            <key>cardtype/newt3animation_cardtype_zdbp2.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,1253},{155,98}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{155,98}}</string>
                <key>sourceSize</key>
                <string>{165,100}</string>
            </dict>
            <key>comparecard/newt3animation_cardtype_gzyz.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,677},{314,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,97}}</string>
                <key>sourceSize</key>
                <string>{314,97}</string>
            </dict>
            <key>comparecard/newt3animation_comparecard_bipai_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,1410},{115,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,96}}</string>
                <key>sourceSize</key>
                <string>{115,96}</string>
            </dict>
            <key>comparecard/newt3animation_comparecard_bipai_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,1600},{103,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,84}}</string>
                <key>sourceSize</key>
                <string>{103,84}</string>
            </dict>
            <key>comparecard/newt3animation_comparecard_szplz3.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,1144},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>comparecard/newt3animation_comparecard_vs.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,478},{262,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,342}}</string>
                <key>sourceSize</key>
                <string>{262,342}</string>
            </dict>
            <key>comparecard/newt3animation_comparecard_vs_bg_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{740,208}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{740,208}}</string>
                <key>sourceSize</key>
                <string>{742,210}</string>
            </dict>
            <key>comparecard/newt3animation_comparecard_vs_bg_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{740,210}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{740,210}}</string>
                <key>sourceSize</key>
                <string>{742,210}</string>
            </dict>
            <key>comparecard/newt3animation_comparecard_vs_dian01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1769},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>comparecard/newt3animation_comparecard_vs_dian02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1511},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>comparecard/newt3animation_comparecard_vs_dian03.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,1273},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>comparecard/newt3animation_comparecard_vs_dian04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1253},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>comparecard/newt3animation_comparecard_vs_dian05.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,1780},{229,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,104}}</string>
                <key>sourceSize</key>
                <string>{229,104}</string>
            </dict>
            <key>comparecard/newt3animation_comparecard_vs_dian06.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,1144},{257,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,127}}</string>
                <key>sourceSize</key>
                <string>{257,127}</string>
            </dict>
            <key>comparecard/newt3animation_comparecard_vs_dian07.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,1418},{256,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,253}}</string>
                <key>sourceSize</key>
                <string>{256,253}</string>
            </dict>
            <key>comparecard/newt3animation_comparecard_vs_fan_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,240},{236,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{236,270}}</string>
                <key>sourceSize</key>
                <string>{238,272}</string>
            </dict>
            <key>comparecard/newt3animation_comparecard_vs_fan_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,2},{236,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{236,272}}</string>
                <key>sourceSize</key>
                <string>{238,272}</string>
            </dict>
            <key>comparecard/newt3animation_comparecard_vs_flare.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,1811},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>comparecard/newt3animation_comparecard_vs_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,710},{312,380}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{312,380}}</string>
                <key>sourceSize</key>
                <string>{314,382}</string>
            </dict>
            <key>comparecard/newt3animation_comparecard_vs_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,1160},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>comparecard/newt3animation_comparecard_vs_sha_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,1780},{216,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{216,192}}</string>
                <key>sourceSize</key>
                <string>{220,192}</string>
            </dict>
            <key>comparecard/newt3animation_comparecard_vs_sha_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,964},{262,194}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{262,194}}</string>
                <key>sourceSize</key>
                <string>{264,196}</string>
            </dict>
            <key>comparecard/newt3card_ani_slice.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,710},{128,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,32}}</string>
                <key>sourceSize</key>
                <string>{128,32}</string>
            </dict>
            <key>comparecard/newt3card_ani_slice_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1005,478},{14,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,10},{14,108}}</string>
                <key>sourceSize</key>
                <string>{16,128}</string>
            </dict>
            <key>huanpai/newt3animation_huanpai_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,1707},{135,71}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{135,71}}</string>
                <key>sourceSize</key>
                <string>{139,75}</string>
            </dict>
            <key>losercard/newt3animation_losercard_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,571},{104,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,90}}</string>
                <key>sourceSize</key>
                <string>{104,90}</string>
            </dict>
            <key>losercard/newt3animation_losercard_daohu182.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,776},{312,366}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,366}}</string>
                <key>sourceSize</key>
                <string>{312,366}</string>
            </dict>
            <key>losercard/newt3animation_losercard_liehen.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,1418},{104,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,89}}</string>
                <key>sourceSize</key>
                <string>{104,89}</string>
            </dict>
            <key>losercard/slice.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,710},{128,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,32}}</string>
                <key>sourceSize</key>
                <string>{128,32}</string>
            </dict>
            <key>losercard/slice_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1005,478},{14,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,10},{14,108}}</string>
                <key>sourceSize</key>
                <string>{16,128}</string>
            </dict>
            <key>newt3animation_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,424},{643,110}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{643,110}}</string>
                <key>sourceSize</key>
                <string>{643,156}</string>
            </dict>
            <key>newt3animation_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,822},{285,140}}</string>
                <key>offset</key>
                <string>{-17,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,16},{285,140}}</string>
                <key>sourceSize</key>
                <string>{343,156}</string>
            </dict>
            <key>newt3animation_bg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,536},{223,114}}</string>
                <key>offset</key>
                <string>{-15,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,42},{223,114}}</string>
                <key>sourceSize</key>
                <string>{343,156}</string>
            </dict>
            <key>newt3animation_debris.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,840},{26,26}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{26,26}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>newt3animation_ox_horn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1024},{356,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{356,142}}</string>
                <key>sourceSize</key>
                <string>{360,146}</string>
            </dict>
            <key>newt3animation_tmp.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,2},{1,1}}</string>
                <key>offset</key>
                <string>{-7.5,7.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>showcard/newt3animation_cardtype_yjlp.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1168},{356,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,83}}</string>
                <key>sourceSize</key>
                <string>{356,83}</string>
            </dict>
            <key>yaman/newt3animation_yaman_desperate.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,1661},{232,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,67}}</string>
                <key>sourceSize</key>
                <string>{232,67}</string>
            </dict>
            <key>yaman/newt3animation_yaman_yaman.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,1673},{208,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,133}}</string>
                <key>sourceSize</key>
                <string>{208,133}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>newt3animation.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3c880ada13c981d6c4825da85d30dcd0:1/1$</string>
            <key>textureFileName</key>
            <string>newt3animation.png</string>
        </dict>
    </dict>
</plist>
