<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>option/bg-0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{512,372}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,372}</string>
			</dict>
			<key>option/bg-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{688,138},{60,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,58}</string>
			</dict>
			<key>option/bg-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{688,79},{60,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,59}</string>
			</dict>
			<key>option/bg-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,372},{516,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{516,132}</string>
			</dict>
			<key>option/btn_Agree.png</key>
			<dict>
				<key>frame</key>
				<string>{{792,0},{176,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,82}</string>
			</dict>
			<key>option/btn_OFF.png</key>
			<dict>
				<key>frame</key>
				<string>{{748,164},{116,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,44}</string>
			</dict>
			<key>option/btn_ON.png</key>
			<dict>
				<key>frame</key>
				<string>{{864,164},{115,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,44}</string>
			</dict>
			<key>option/btn_Refuse.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,79},{176,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,82}</string>
			</dict>
			<key>option/btn_Sure.png</key>
			<dict>
				<key>frame</key>
				<string>{{748,82},{176,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,82}</string>
			</dict>
			<key>option/img_text_apply.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,0},{280,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{280,79}</string>
			</dict>
			<key>option/img_text_set.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,161},{168,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,78}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Plist.png</string>
			<key>realTextureFileName</key>
			<string>Plist.png</string>
			<key>size</key>
			<string>{1024,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>