<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>gameScene_3gong/add.png</key>
			<dict>
				<key>frame</key>
				<string>{{472,327},{44,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,44}</string>
			</dict>
			<key>gameScene_3gong/btn_bettimes_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{694,0},{199,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{199,81}</string>
			</dict>
			<key>gameScene_3gong/btn_bettimes_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{543,397},{199,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{199,81}</string>
			</dict>
			<key>gameScene_3gong/btn_bettimes_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{375,0},{199,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{199,81}</string>
			</dict>
			<key>gameScene_3gong/btn_bettimes_35.png</key>
			<dict>
				<key>frame</key>
				<string>{{456,0},{199,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{199,81}</string>
			</dict>
			<key>gameScene_3gong/btn_bettimes_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{456,81},{199,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{199,81}</string>
			</dict>
			<key>gameScene_3gong/btn_continueplay.png</key>
			<dict>
				<key>frame</key>
				<string>{{69,580},{252,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{252,96}</string>
			</dict>
			<key>gameScene_3gong/btn_norob.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,549},{217,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{217,87}</string>
			</dict>
			<key>gameScene_3gong/btn_opencards.png</key>
			<dict>
				<key>frame</key>
				<string>{{69,832},{252,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{252,96}</string>
			</dict>
			<key>gameScene_3gong/btn_robbank.png</key>
			<dict>
				<key>frame</key>
				<string>{{252,549},{217,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{217,87}</string>
			</dict>
			<key>gameScene_3gong/img_bank.png</key>
			<dict>
				<key>frame</key>
				<string>{{375,327},{49,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,49}</string>
			</dict>
			<key>gameScene_3gong/img_bankcopy.png</key>
			<dict>
				<key>frame</key>
				<string>{{424,327},{49,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,48}</string>
			</dict>
			<key>gameScene_3gong/img_bettimes_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{399,965},{126,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,37}</string>
			</dict>
			<key>gameScene_3gong/img_bettimes_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,766},{126,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,37}</string>
			</dict>
			<key>gameScene_3gong/img_bettimes_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{187,928},{128,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,37}</string>
			</dict>
			<key>gameScene_3gong/img_bettimes_35.png</key>
			<dict>
				<key>frame</key>
				<string>{{315,928},{128,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,37}</string>
			</dict>
			<key>gameScene_3gong/img_bettimes_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{321,876},{101,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,37}</string>
			</dict>
			<key>gameScene_3gong/img_countframe.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,580},{398,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{398,69}</string>
			</dict>
			<key>gameScene_3gong/img_norob.png</key>
			<dict>
				<key>frame</key>
				<string>{{422,876},{75,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,37}</string>
			</dict>
			<key>gameScene_3gong/img_point0.png</key>
			<dict>
				<key>frame</key>
				<string>{{321,806},{257,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{257,70}</string>
			</dict>
			<key>gameScene_3gong/img_point1.png</key>
			<dict>
				<key>frame</key>
				<string>{{518,876},{257,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{257,70}</string>
			</dict>
			<key>gameScene_3gong/img_point10.png</key>
			<dict>
				<key>frame</key>
				<string>{{525,946},{257,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{257,70}</string>
			</dict>
			<key>gameScene_3gong/img_point11.png</key>
			<dict>
				<key>frame</key>
				<string>{{286,383},{257,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{257,70}</string>
			</dict>
			<key>gameScene_3gong/img_point12.png</key>
			<dict>
				<key>frame</key>
				<string>{{286,453},{257,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{257,70}</string>
			</dict>
			<key>gameScene_3gong/img_point2.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,523},{257,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{257,70}</string>
			</dict>
			<key>gameScene_3gong/img_point3.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,593},{257,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{257,70}</string>
			</dict>
			<key>gameScene_3gong/img_point4.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,663},{257,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{257,70}</string>
			</dict>
			<key>gameScene_3gong/img_point5.png</key>
			<dict>
				<key>frame</key>
				<string>{{406,733},{257,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{257,70}</string>
			</dict>
			<key>gameScene_3gong/img_point6.png</key>
			<dict>
				<key>frame</key>
				<string>{{578,803},{257,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{257,70}</string>
			</dict>
			<key>gameScene_3gong/img_point7.png</key>
			<dict>
				<key>frame</key>
				<string>{{835,0},{257,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{257,70}</string>
			</dict>
			<key>gameScene_3gong/img_point8.png</key>
			<dict>
				<key>frame</key>
				<string>{{375,257},{257,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{257,70}</string>
			</dict>
			<key>gameScene_3gong/img_point9.png</key>
			<dict>
				<key>frame</key>
				<string>{{543,327},{257,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{257,70}</string>
			</dict>
			<key>gameScene_3gong/img_rectangle.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,383},{124,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,166}</string>
			</dict>
			<key>gameScene_3gong/img_robbank.png</key>
			<dict>
				<key>frame</key>
				<string>{{443,913},{75,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,37}</string>
			</dict>
			<key>gameScene_3gong/img_squares.png</key>
			<dict>
				<key>frame</key>
				<string>{{694,199},{118,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>gameScene_3gong/img_yuan.png</key>
			<dict>
				<key>frame</key>
				<string>{{632,257},{63,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{63,62}</string>
			</dict>
			<key>gameScene_3gong/jinbi_k.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,978},{177,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{177,36}</string>
			</dict>
			<key>gameScene_3gong/menu_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,383},{162,197}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,197}</string>
			</dict>
			<key>gameScene_3gong/menu_fh.png</key>
			<dict>
				<key>frame</key>
				<string>{{177,973},{116,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,45}</string>
			</dict>
			<key>gameScene_3gong/menu_jt1.png</key>
			<dict>
				<key>frame</key>
				<string>{{782,944},{75,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,76}</string>
			</dict>
			<key>gameScene_3gong/menu_sm.png</key>
			<dict>
				<key>frame</key>
				<string>{{291,766},{115,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,40}</string>
			</dict>
			<key>gameScene_3gong/menu_sz.png</key>
			<dict>
				<key>frame</key>
				<string>{{69,928},{118,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,45}</string>
			</dict>
			<key>gameScene_3gong/tx_zj.png</key>
			<dict>
				<key>frame</key>
				<string>{{905,199},{100,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,101}</string>
			</dict>
			<key>gameScene_3gong/txk.png</key>
			<dict>
				<key>frame</key>
				<string>{{596,549},{106,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,148}</string>
			</dict>
			<key>gameScene_3gong/sx.png</key>
			<dict>
				<key>frame</key>
				<string>{{775,873},{71,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,71}</string>
			</dict>
			<key>gameScene_3gong/sx1_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{663,478},{71,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,71}</string>
			</dict>
			<key>gameScene_3gong/sprite_openCard.png</key>
			<dict>
				<key>frame</key>
				<string>{{293,965},{106,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,58}</string>
			</dict>
			<key>gameScene_3gong/bt_chipgrey_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{456,162},{199,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{199,81}</string>
			</dict>
			<key>gameScene_3gong/bt_chipgrey_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,317},{199,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{199,81}</string>
			</dict>
			<key>gameScene_3gong/bt_chipgrey_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{905,0},{199,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{199,81}</string>
			</dict>
			<key>gameScene_3gong/bt_chipgrey_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{835,398},{199,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{199,81}</string>
			</dict>
			<key>gameScene_3gong/bt_chipgrey_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{742,398},{199,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{199,81}</string>
			</dict>
			<key>gameScene_3gong/img_winall.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{375,383}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{375,383}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>3gongScene.png</string>
			<key>realTextureFileName</key>
			<string>3gongScene.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>