<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>gameScene_3gong/add.png</key>
			<dict>
				<key>frame</key>
				<string>{{752,81},{44,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,44}</string>
			</dict>
			<key>gameScene_3gong/btn_bettimes_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{514,937},{199,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{199,81}</string>
			</dict>
			<key>gameScene_3gong/btn_bettimes_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{306,573},{199,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{199,81}</string>
			</dict>
			<key>gameScene_3gong/btn_bettimes_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{326,350},{199,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{199,81}</string>
			</dict>
			<key>gameScene_3gong/btn_bettimes_35.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,549},{199,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{199,81}</string>
			</dict>
			<key>gameScene_3gong/btn_bettimes_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{412,748},{199,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{199,81}</string>
			</dict>
			<key>gameScene_3gong/btn_continueplay.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,595},{252,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{252,96}</string>
			</dict>
			<key>gameScene_3gong/btn_norob.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,0},{217,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{217,87}</string>
			</dict>
			<key>gameScene_3gong/btn_opencards.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,847},{252,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{252,96}</string>
			</dict>
			<key>gameScene_3gong/btn_robbank.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,87},{217,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{217,87}</string>
			</dict>
			<key>gameScene_3gong/img_bank.png</key>
			<dict>
				<key>frame</key>
				<string>{{786,125},{49,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,49}</string>
			</dict>
			<key>gameScene_3gong/img_bankcopy.png</key>
			<dict>
				<key>frame</key>
				<string>{{786,174},{49,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,48}</string>
			</dict>
			<key>gameScene_3gong/img_bettimes_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{508,900},{126,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,37}</string>
			</dict>
			<key>gameScene_3gong/img_bettimes_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{488,450},{126,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,37}</string>
			</dict>
			<key>gameScene_3gong/img_bettimes_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{252,900},{128,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,37}</string>
			</dict>
			<key>gameScene_3gong/img_bettimes_35.png</key>
			<dict>
				<key>frame</key>
				<string>{{380,900},{128,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,37}</string>
			</dict>
			<key>gameScene_3gong/img_bettimes_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{712,373},{101,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,37}</string>
			</dict>
			<key>gameScene_3gong/img_countframe.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,197},{398,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{398,69}</string>
			</dict>
			<key>gameScene_3gong/img_norob.png</key>
			<dict>
				<key>frame</key>
				<string>{{783,290},{75,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,37}</string>
			</dict>
			<key>gameScene_3gong/img_point0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,943},{257,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{257,70}</string>
			</dict>
			<key>gameScene_3gong/img_point1.png</key>
			<dict>
				<key>frame</key>
				<string>{{69,363},{257,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{257,70}</string>
			</dict>
			<key>gameScene_3gong/img_point10.png</key>
			<dict>
				<key>frame</key>
				<string>{{69,433},{257,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{257,70}</string>
			</dict>
			<key>gameScene_3gong/img_point11.png</key>
			<dict>
				<key>frame</key>
				<string>{{69,503},{257,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{257,70}</string>
			</dict>
			<key>gameScene_3gong/img_point12.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,174},{257,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{257,70}</string>
			</dict>
			<key>gameScene_3gong/img_point2.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,244},{257,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{257,70}</string>
			</dict>
			<key>gameScene_3gong/img_point3.png</key>
			<dict>
				<key>frame</key>
				<string>{{379,0},{257,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{257,70}</string>
			</dict>
			<key>gameScene_3gong/img_point4.png</key>
			<dict>
				<key>frame</key>
				<string>{{379,70},{257,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{257,70}</string>
			</dict>
			<key>gameScene_3gong/img_point5.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,573},{257,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{257,70}</string>
			</dict>
			<key>gameScene_3gong/img_point6.png</key>
			<dict>
				<key>frame</key>
				<string>{{166,573},{257,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{257,70}</string>
			</dict>
			<key>gameScene_3gong/img_point7.png</key>
			<dict>
				<key>frame</key>
				<string>{{236,573},{257,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{257,70}</string>
			</dict>
			<key>gameScene_3gong/img_point8.png</key>
			<dict>
				<key>frame</key>
				<string>{{252,830},{257,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{257,70}</string>
			</dict>
			<key>gameScene_3gong/img_point9.png</key>
			<dict>
				<key>frame</key>
				<string>{{257,937},{257,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{257,70}</string>
			</dict>
			<key>gameScene_3gong/img_rectangle.png</key>
			<dict>
				<key>frame</key>
				<string>{{69,197},{124,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,166}</string>
			</dict>
			<key>gameScene_3gong/img_robbank.png</key>
			<dict>
				<key>frame</key>
				<string>{{749,126},{75,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,37}</string>
			</dict>
			<key>gameScene_3gong/img_squares.png</key>
			<dict>
				<key>frame</key>
				<string>{{594,302},{118,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>gameScene_3gong/img_yuan.png</key>
			<dict>
				<key>frame</key>
				<string>{{725,227},{63,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{63,62}</string>
			</dict>
			<key>gameScene_3gong/jinbi_k.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,314},{177,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{177,36}</string>
			</dict>
			<key>gameScene_3gong/menu_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{162,197}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,197}</string>
			</dict>
			<key>gameScene_3gong/menu_fh.png</key>
			<dict>
				<key>frame</key>
				<string>{{636,81},{116,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,45}</string>
			</dict>
			<key>gameScene_3gong/menu_jt1.png</key>
			<dict>
				<key>frame</key>
				<string>{{649,227},{75,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,76}</string>
			</dict>
			<key>gameScene_3gong/menu_sm.png</key>
			<dict>
				<key>frame</key>
				<string>{{614,420},{115,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,40}</string>
			</dict>
			<key>gameScene_3gong/menu_sz.png</key>
			<dict>
				<key>frame</key>
				<string>{{509,829},{118,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,45}</string>
			</dict>
			<key>gameScene_3gong/tx_zj.png</key>
			<dict>
				<key>frame</key>
				<string>{{649,126},{100,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,101}</string>
			</dict>
			<key>gameScene_3gong/txk.png</key>
			<dict>
				<key>frame</key>
				<string>{{488,302},{106,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,148}</string>
			</dict>
			<key>gameScene_3gong/sx.png</key>
			<dict>
				<key>frame</key>
				<string>{{549,487},{71,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,71}</string>
			</dict>
			<key>gameScene_3gong/sx1_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{712,302},{71,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,71}</string>
			</dict>
			<key>gameScene_3gong/sprite_openCard.png</key>
			<dict>
				<key>frame</key>
				<string>{{306,772},{106,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,58}</string>
			</dict>
			<key>gameScene_3gong/bt_chipgrey_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{407,314},{199,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{199,81}</string>
			</dict>
			<key>gameScene_3gong/bt_chipgrey_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,140},{199,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{199,81}</string>
			</dict>
			<key>gameScene_3gong/bt_chipgrey_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,221},{199,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{199,81}</string>
			</dict>
			<key>gameScene_3gong/bt_chipgrey_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{636,0},{199,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{199,81}</string>
			</dict>
			<key>gameScene_3gong/bt_chipgrey_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{468,513},{199,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{199,81}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>3gongScene.png</string>
			<key>realTextureFileName</key>
			<string>3gongScene.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>