<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>new_res/btn_all_in.png</key>
			<dict>
				<key>frame</key>
				<string>{{169,482},{217,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{217,84}</string>
			</dict>
			<key>new_res/btn_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,566},{118,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,39}</string>
			</dict>
			<key>new_res/btn_bet_add.png</key>
			<dict>
				<key>frame</key>
				<string>{{248,166},{217,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{217,84}</string>
			</dict>
			<key>new_res/btn_bet_give_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,0},{217,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{217,84}</string>
			</dict>
			<key>new_res/btn_change.png</key>
			<dict>
				<key>frame</key>
				<string>{{413,397},{118,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,39}</string>
			</dict>
			<key>new_res/btn_no_add.png</key>
			<dict>
				<key>frame</key>
				<string>{{329,250},{217,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{217,84}</string>
			</dict>
			<key>new_res/btn_setting.png</key>
			<dict>
				<key>frame</key>
				<string>{{465,165},{118,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,39}</string>
			</dict>
			<key>new_res/btn_start.png</key>
			<dict>
				<key>frame</key>
				<string>{{386,467},{217,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{217,84}</string>
			</dict>
			<key>new_res/tag_all_in_fire.png</key>
			<dict>
				<key>frame</key>
				<string>{{169,274},{160,208}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,208}</string>
			</dict>
			<key>new_res/tag_all_in_grame.png</key>
			<dict>
				<key>frame</key>
				<string>{{248,0},{134,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,166}</string>
			</dict>
			<key>new_res/tag_contrallor_bar.png</key>
			<dict>
				<key>frame</key>
				<string>{{583,84},{94,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,97}</string>
			</dict>
			<key>new_res/tag_contrallor_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,274},{169,339}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{169,339}</string>
			</dict>
			<key>new_res/tag_loading.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,613},{527,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{527,100}</string>
			</dict>
			<key>new_res/tag_money.png</key>
			<dict>
				<key>frame</key>
				<string>{{169,566},{134,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,35}</string>
			</dict>
			<key>new_res/tag_poker_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{524,204},{104,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,146}</string>
			</dict>
			<key>new_res/tag_poker_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,84},{81,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{81,114}</string>
			</dict>
			<key>new_res/tag_profile.png</key>
			<dict>
				<key>frame</key>
				<string>{{413,250},{111,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{111,147}</string>
			</dict>
			<key>new_res/tag_setting.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{248,274}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{248,274}</string>
			</dict>
			<key>new_res/tag_text_no_add.png</key>
			<dict>
				<key>frame</key>
				<string>{{421,551},{103,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,52}</string>
			</dict>
			<key>new_res/tag_text_ready.png</key>
			<dict>
				<key>frame</key>
				<string>{{524,551},{103,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,52}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>gswz.png</string>
			<key>realTextureFileName</key>
			<string>gswz.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>