<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/btn_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,734},{224,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,89}</string>
			</dict>
			<key>img/btn_callland.png</key>
			<dict>
				<key>frame</key>
				<string>{{197,1955},{224,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,93}</string>
			</dict>
			<key>img/btn_continue.png</key>
			<dict>
				<key>frame</key>
				<string>{{224,734},{224,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{224,89}</string>
			</dict>
			<key>img/btn_jipaiqi.png</key>
			<dict>
				<key>frame</key>
				<string>{{956,1614},{159,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{159,57}</string>
			</dict>
			<key>img/btn_nocall.png</key>
			<dict>
				<key>frame</key>
				<string>{{197,1858},{224,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,97}</string>
			</dict>
			<key>img/btn_norob.png</key>
			<dict>
				<key>frame</key>
				<string>{{421,1894},{224,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,97}</string>
			</dict>
			<key>img/btn_nosend.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,1771},{224,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,97}</string>
			</dict>
			<key>img/btn_nosend_grey.png</key>
			<dict>
				<key>frame</key>
				<string>{{645,1868},{224,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,93}</string>
			</dict>
			<key>img/btn_notice.png</key>
			<dict>
				<key>frame</key>
				<string>{{710,909},{224,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,93}</string>
			</dict>
			<key>img/btn_point1.png</key>
			<dict>
				<key>frame</key>
				<string>{{710,1002},{224,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,93}</string>
			</dict>
			<key>img/btn_point2.png</key>
			<dict>
				<key>frame</key>
				<string>{{710,1095},{224,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,93}</string>
			</dict>
			<key>img/btn_point3.png</key>
			<dict>
				<key>frame</key>
				<string>{{710,1188},{224,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,93}</string>
			</dict>
			<key>img/btn_rechoose.png</key>
			<dict>
				<key>frame</key>
				<string>{{580,1671},{224,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,93}</string>
			</dict>
			<key>img/btn_return.png</key>
			<dict>
				<key>frame</key>
				<string>{{726,1598},{71,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,71}</string>
			</dict>
			<key>img/btn_rob.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,1764},{224,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,93}</string>
			</dict>
			<key>img/btn_sendcard.png</key>
			<dict>
				<key>frame</key>
				<string>{{710,1281},{224,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{224,93}</string>
			</dict>
			<key>img/btn_sendcard_grey.png</key>
			<dict>
				<key>frame</key>
				<string>{{580,1505},{224,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,93}</string>
			</dict>
			<key>img/btn_tuoguan.png</key>
			<dict>
				<key>frame</key>
				<string>{{580,1598},{73,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,73}</string>
			</dict>
			<key>img/btn_tuoguan_grey.png</key>
			<dict>
				<key>frame</key>
				<string>{{653,1598},{73,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,73}</string>
			</dict>
			<key>img/btn_word_quxiaotuoguan.png</key>
			<dict>
				<key>frame</key>
				<string>{{969,697},{158,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{158,45}</string>
			</dict>
			<key>img/ddz_deposit_robot.png</key>
			<dict>
				<key>frame</key>
				<string>{{804,1671},{91,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{91,94}</string>
			</dict>
			<key>img/ddz_deposit_robot_eye.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2020},{36,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,19}</string>
			</dict>
			<key>img/electrycity_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{36,2020},{26,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{26,16}</string>
			</dict>
			<key>img/electrycity_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{52,2020},{26,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{26,16}</string>
			</dict>
			<key>img/electrycity_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{68,2020},{26,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{26,16}</string>
			</dict>
			<key>img/electrycity_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{84,2020},{26,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{26,16}</string>
			</dict>
			<key>img/electrycity_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,2020},{26,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{26,16}</string>
			</dict>
			<key>img/frame_base.png</key>
			<dict>
				<key>frame</key>
				<string>{{486,401},{1370,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1370,94}</string>
			</dict>
			<key>img/frame_box.png</key>
			<dict>
				<key>frame</key>
				<string>{{710,697},{111,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{111,111}</string>
			</dict>
			<key>img/frame_goldcoin.png</key>
			<dict>
				<key>frame</key>
				<string>{{720,1961},{236,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{236,44}</string>
			</dict>
			<key>img/frame_rectangle.png</key>
			<dict>
				<key>frame</key>
				<string>{{580,1291},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/frame_top.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1771},{430,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{430,87}</string>
			</dict>
			<key>img/frame_yuanjiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{720,2005},{134,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,40}</string>
			</dict>
			<key>img/frame_yuanjiao2.png</key>
			<dict>
				<key>frame</key>
				<string>{{969,1089},{127,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{127,36}</string>
			</dict>
			<key>img/img_add.png</key>
			<dict>
				<key>frame</key>
				<string>{{869,697},{106,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{106,58}</string>
			</dict>
			<key>img/img_callland.png</key>
			<dict>
				<key>frame</key>
				<string>{{956,1773},{157,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{157,57}</string>
			</dict>
			<key>img/img_cardrecord.png</key>
			<dict>
				<key>frame</key>
				<string>{{580,401},{890,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{890,130}</string>
			</dict>
			<key>img/img_endbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{714,401}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{714,401}</string>
			</dict>
			<key>img/img_lose.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,401},{486,333}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{486,333}</string>
			</dict>
			<key>img/img_noadd.png</key>
			<dict>
				<key>frame</key>
				<string>{{956,1457},{157,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{157,58}</string>
			</dict>
			<key>img/img_nocall.png</key>
			<dict>
				<key>frame</key>
				<string>{{869,1388},{104,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,57}</string>
			</dict>
			<key>img/img_norob.png</key>
			<dict>
				<key>frame</key>
				<string>{{869,803},{106,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{106,57}</string>
			</dict>
			<key>img/img_nosend.png</key>
			<dict>
				<key>frame</key>
				<string>{{869,1492},{104,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,57}</string>
			</dict>
			<key>img/img_point1.png</key>
			<dict>
				<key>frame</key>
				<string>{{898,1671},{79,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{79,57}</string>
			</dict>
			<key>img/img_point2.png</key>
			<dict>
				<key>frame</key>
				<string>{{803,1281},{87,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,63}</string>
			</dict>
			<key>img/img_point3.png</key>
			<dict>
				<key>frame</key>
				<string>{{803,1368},{88,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{88,59}</string>
			</dict>
			<key>img/img_ready.png</key>
			<dict>
				<key>frame</key>
				<string>{{869,1281},{107,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{107,56}</string>
			</dict>
			<key>img/img_rob.png</key>
			<dict>
				<key>frame</key>
				<string>{{956,1296},{161,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{161,63}</string>
			</dict>
			<key>img/img_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{714,0},{697,303}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{697,303}</string>
			</dict>
			<key>img/node_clock.png</key>
			<dict>
				<key>frame</key>
				<string>{{710,808},{92,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{92,113}</string>
			</dict>
			<key>img/notice_brokenrule.png</key>
			<dict>
				<key>frame</key>
				<string>{{430,1588},{306,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{306,51}</string>
			</dict>
			<key>img/notice_disable.png</key>
			<dict>
				<key>frame</key>
				<string>{{430,1231},{357,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{357,54}</string>
			</dict>
			<key>img/notice_waitcall.png</key>
			<dict>
				<key>frame</key>
				<string>{{421,1991},{299,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{299,48}</string>
			</dict>
			<key>img/tag_landlord.png</key>
			<dict>
				<key>frame</key>
				<string>{{969,1216},{40,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,80}</string>
			</dict>
			<key>img/menu_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1858},{162,197}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{162,197}</string>
			</dict>
			<key>img/menu_fh.png</key>
			<dict>
				<key>frame</key>
				<string>{{969,973},{116,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{116,45}</string>
			</dict>
			<key>img/menu_jt1.png</key>
			<dict>
				<key>frame</key>
				<string>{{869,1596},{75,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,76}</string>
			</dict>
			<key>img/menu_jt2.png</key>
			<dict>
				<key>frame</key>
				<string>{{869,1857},{75,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,76}</string>
			</dict>
			<key>img/menu_sm.png</key>
			<dict>
				<key>frame</key>
				<string>{{854,2005},{115,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,40}</string>
			</dict>
			<key>img/menu_sz.png</key>
			<dict>
				<key>frame</key>
				<string>{{969,855},{118,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{118,45}</string>
			</dict>
			<key>img/frame_room.png</key>
			<dict>
				<key>frame</key>
				<string>{{430,734},{497,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{497,47}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>images.png</string>
			<key>realTextureFileName</key>
			<string>images.png</string>
			<key>size</key>
			<string>{1024,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>